/* Doyo CSS Reset */
html,body,iframe,div,span,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,p,a,strong,img,form,fieldset,legend,label{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;}
body{line-height:1;}
ul,ol{list-style:none;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
select,input,button{vertical-align:middle;}
table{border-collapse:collapse;border-spacing:0;}
html{zoom:expression(function(ele){ele.style.zoom="1";document.execCommand("BackgroundImageCache",false,true);}(this));}

/* Blank */
.bk1,.bk3,.bk5,.bk6,.bk8,.bk10,.bk12,.bk16{clear:both;font:1px/1px Arial;overflow:hidden;}
.bk1{height:1px;}
.bk3{height:3px;}
.bk5{height:5px;}
.bk6{height:6px;}
.bk8{height:8px;}
.bk10{height:10px;}
.bk12{height:12px;}
.bk16{height:16px;}

/* Float */
.fl{float:left;}
.fr{float:right;}

/* Layout */
.area{width:920px;height:auto;margin:0 auto;}
.login_left{float:left;width:250px;height:auto;margin:0 30px 0 0;}
.login_right{float:left;width:640px;height:260px;text-align:center;}

/* Input */
.login_grey{width:165px;height:18px;margin:0;padding:5px 0 5px 7px;border:0;background:url(../images/register_bg.png) 2px -48px no-repeat;font:12px/1.5 Tahoma;}
.login_blue{background:url(../images/register_bg.png) 0 -100px no-repeat;}
.login_red{background:url(../images/register_bg.png) 0 -150px no-repeat;}
.login_keep{margin:0 0 2px 0;cursor:pointer;}
.login_label{display:inline-block;padding:0 0 0 3px;cursor:pointer;}
.login_submit{float:left;width:94px;height:28px;margin:5px 10px 0 2px;padding:0;border:0;background:url(../images/register_bt.png) 0 0 no-repeat #CCC;cursor:pointer;}
.login_submit.active{background:url(../images/register_bt.png) -100px 0 no-repeat;}

.reg_grey{float:left;width:217px;height:18px;margin:0;padding:5px 0 5px 7px;border:0;background:url(../images/register_bg.png) 2px -348px no-repeat;font:12px/1.5 Tahoma;}
.reg_blue{background:url(../images/register_bg.png) 0 -400px no-repeat;}
.reg_red{background:url(../images/register_bg.png) 0 -450px no-repeat;}
.reg_grey_s{width:78px;height:18px;margin:0;padding:5px 0 5px 7px;border:0;background:url(../images/register_bg.png) 2px -498px no-repeat;font:12px/1.5 Tahoma;}
.reg_blue_s{background:url(../images/register_bg.png) 0 -550px no-repeat;}
.reg_red_s{background:url(../images/register_bg.png) 0 -600px no-repeat;}
.reg_keep{margin:0 0 2px 0;cursor:pointer;}
.reg_agreement{cursor:pointer;}
.reg_label{display:inline-block;padding:0 7px 0 3px;cursor:pointer;}
.reg_submit{width:209px;height:28px;margin:0 7px 0 2px;padding:0;border:0;background:url(../images/register_bt.png) 0 -100px no-repeat #CCC;cursor:pointer;}
.reg_hover{background:url(../images/register_bt.png) 0 -150px no-repeat;}
.reset_submit{width:207px;height:26px;margin:0 7px 0 2px;padding:0;border:0;background:url(../images/register_bt.png) 0 -600px no-repeat #CCC;cursor:pointer;}
.reset_hover{background:url(../images/register_bt.png) 0 -650px no-repeat;}
.set_submit{width:94px;height:28px;margin:0 7px 0 2px;padding:0;border:0;background:url(../images/register_bt.png) -200px 0 no-repeat #CCC;cursor:pointer;}
.set_hover{background:url(../images/register_bt.png) -200px -50px no-repeat;}

/* Web Header & Footer*/
#web_header{width:auto;height:auto;}

#web_header .header_top_space{position:fixed;top:0;left:0;z-index:10;width:100%;height:32px;border-bottom:1px solid #DBDBDB;background:#F9F9F9;_position:absolute;_top:expression(eval(document.documentElement.scrollTop));}
#web_header .header_top_box{position:relative;z-index:0;width:960px;height:32px;margin:0 auto;}
#web_header .header_top_box a.index{float:left;margin:4px 12px 0 0;color:#666;font:12px/2 Simsun;}
#web_header .header_top_box a.index:hover{color:#F60;}
#web_header .header_top_box a.client{float:left;margin:4px 12px 0 0;color:#666;font:12px/2 Simsun;}
#web_header .header_top_box a.client:hover{color:#F60;}
#web_header .header_top_box .login{float:right;width:600px;height:20px;padding:6px 0 0;color:#999;font:12px/20px Simsun;text-align:right;}
#web_header .header_top_box .login a{display:inline-block;margin:0 8px;color:#666;}
#web_header .header_top_box .login a:hover{color:#f60;}
#web_header .header_top_box .login a.name{margin:0 10px 0 0;color:#2791D0;font-family:Verdana;}
#web_header .header_top_box .login a.name:hover{color:#F60;}
#web_header .header_top_box .top_nav{position:absolute;top:1px;left:132px;z-index:1;width:63px;height:29px;}
#web_header .header_top_box .top_nav .nav_box{display:none;position:absolute;top:28px;left:0;z-index:2;width:130px;height:auto;border:1px solid #ccc;background:#fff;overflow:hidden;}
#web_header .header_top_box .top_nav .nav_box div{float:left;width:50px;padding:6px 0 3px 10px;}
#web_header .header_top_box .top_nav .nav_box a{font:12px/2 Simsun;color:#333;}
#web_header .header_top_box .top_nav .nav_box a:hover{color:#F60;}
#web_header .header_top_box .top_nav .t{position:absolute;top:1px;left:1px;z-index:1;z-index:3;width:36px;height:28px;padding:0 0 0 25px;background:url(https://www.doyo.cn/Tpl/web/Public/images/topbar_ico.png) no-repeat 7px 8px;color:#333;font:12px/28px Simsun;cursor:default;}
#web_header .header_top_box .care_doyo{position:absolute;top:1px;left:195px;z-index:1;width:96px;height:29px;}
#web_header .header_top_box .care_doyo .care_box{display:none;position:absolute;top:28px;left:0;z-index:2;width:250px;height:140px;padding:5px 0 0;border:1px solid #ccc;background:#fff;}
#web_header .header_top_box .care_doyo .care_box .wechat{float:left;width:120px;height:140px;color:#666;font:12px/2 Simsun;text-align:center;}
#web_header .header_top_box .care_doyo .care_box .wechat img{display:block;width:110px;height:110px;margin:0 auto;}
#web_header .header_top_box .care_doyo .care_box .weibo{float:right;width:120px;height:140px;}
#web_header .header_top_box .care_doyo .care_box .weibo img{display:block;width:110px;height:110px;margin:0 auto;}
#web_header .header_top_box .care_doyo .care_box .weibo .weibo_link{display:inline-block;width:62px;height:22px;margin:0 0 0 30px;background:url(https://www.doyo.cn/Tpl/web/Public/images/topbar_ico.png) 0 -100px no-repeat;}
#web_header .header_top_box .care_doyo .t{position:absolute;top:1px;left:1px;z-index:1;z-index:3;width:81px;height:28px;padding:0 0 0 13px;background:url(https://www.doyo.cn/Tpl/web/Public/images/topbar_ico.png) no-repeat 74px -38px;color:#666;font:12px/28px Simsun;cursor:default;}
#web_header .header_top_box .top_nav div.active,#web_header .header_top_box .care_doyo div.active{top:0;left:0;border:1px solid #ccc;border-bottom:none;background-color:#fff;}
#web_header .header_middle_space{width:auto;height:105px;background:#FFF;}
#web_header .header_middle_box{width:968px;height:auto;margin:0 auto;padding:0 0 0 8px;}
#web_header .header_logo_box{float:left;width:220px;height:80px;overflow:hidden;}
#web_header .header_logo_box h1{display:none;}
#web_header .header_logo_box h2{display:none;}
#web_header .header_logo_box h3{display:none;}
#web_header .header_logo_box a.logo{display:block;width:130px;height:59px;margin:20px 0 0 3px;background:url(https://s.doyo.cn/material/images/web/logo_png24_bg.png) 0 0 no-repeat;}
#web_header .header_search_box{float:left;width:500px;height:70px;margin:21px 0 0 0;}
#web_header .header_search_bar{position:relative;z-index:3;width:493px;height:46px;background:url(../images/search_bar_bg.png) 0 0 no-repeat;}
#web_header .header_search_key{float:left;width:439px;height:40px;padding:0 0 0 12px;border:0;background:url(https://s.doyo.cn/s.gif) 0 0 repeat;font:14px/2.8 SimSun;color:#333;}
#web_header .header_search_button{float:left;width:42px;height:40px;padding:0;border:0;background:url(../images/search_bar_bg.png) 0 -46px no-repeat;cursor:pointer;}
#web_header .header_search_button_hover{background:url(../images/search_bar_bg.png) -50px -46px no-repeat;}
#web_header .header_search_auto_box{display:none;position:absolute;z-index:1;left:0;top:36px;width:450px;height:auto;border:solid #D9D9D9;border-width:0 1px 1px 1px;background:#FFF;overflow:hidden;}
#web_header .header_search_auto_box a{display:block;width:430px;height:48px;padding:10px;border-top:1px solid #D9D9D9;font:12px/2 SimSun;color:#333;text-decoration:none;}
#web_header .header_search_auto_box a:hover{color:#F60;}
#web_header .header_search_auto_box a.hover{background:#F6F6F6;}
#web_header .header_search_auto_box a.active{background:#EEE;}
#web_header .header_search_auto_box a img{float:left;width:48px;height:48px;margin:0 10px 0 0;}
#web_header .header_search_auto_box a span{color:#AAA;}
#web_header .header_hot_word{width:493px;height:18px;padding:0 0 0 3px;font:12px/1.5 SimSun;color:#777;overflow:hidden;}
#web_header .header_hot_word a{margin:0 8px 0 0;color:#A1A1A1;}
#web_header .header_hot_word a:hover{color:#C00000;}
#web_header .header_other_box{float:left;position:relative;z-index:0;width:240px;height:18px;margin:35px 0 0 0;font:12px/1.5 SimSun;text-align:right;}
#web_header .header_other_box a{display:inline-block;width:auto;height:18px;margin:0 0 0 12px;padding:0 0 0 20px;color:#666;}
#web_header .header_other_box a:hover{color:#F60;}
#web_header .header_other_box a.special{background:url(../images/web_header_bg.png) -550px 0 no-repeat;}
#web_header .header_other_box a.rank{background:url(../images/web_header_bg.png) -550px -49px no-repeat;}
#web_header .header_nav_space{clear:both;width:auto;height:36px;background:url(https://s.doyo.cn/material/images/web/header_bar_bg.png) 0 -50px repeat-x;}
#web_header .header_nav_box{width:960px;height:36px;margin:0 auto;}
#web_header .header_nav_list{float:left;width:auto;height:36px;}
#web_header .header_nav_list a{float:left;width:92px;height:28px;padding:4px 0;font:bold 14px/2 "Microsoft YaHei",Verdana;color:#FFF;text-align:center;text-decoration:none;}
#web_header .header_nav_list a:hover{background:url(https://s.doyo.cn/material/images/web/header_bar_bg.png) 0 -100px no-repeat;}
#web_header .header_nav_list a.header_active{background:url(https://s.doyo.cn/material/images/web/header_bar_bg.png) 0 -100px no-repeat;}
#web_header .header_nav_list a.header_active:hover{background:url(https://s.doyo.cn/material/images/web/header_bar_bg.png) 0 -100px no-repeat;}
#web_header .header_nav_list .line{float:left;width:2px;height:36px;font:1px/1 Arial;background:url(https://s.doyo.cn/material/images/web/header_bar_bg.png) 0 -150px no-repeat;overflow:hidden;}
#web_header .header_nav_other{float:right;width:auto;height:30px;padding:6px 0 0 0;text-align:right;}
#web_header .header_nav_other a{display:inline-block;width:70px;height:24px;margin:0 0 0 10px;background:url(https://s.doyo.cn/material/images/web/header_bar_bg.png) 0 -200px no-repeat;font:12px/2 SimSun;color:#FFF;text-align:center;text-decoration:none;}
#web_header .header_nav_other a:hover{background:url(https://s.doyo.cn/material/images/web/header_bar_bg.png) 0 -250px no-repeat;color:#FC0;}

#web_footer{width:auto;height:auto;padding:1px 0 0 0;background:#FFF;}
#web_footer .footer_line{width:auto;height:1px;font:1px/1 Arial;background:#EEE;}
#web_footer .footer_body{width:920px;height:auto;margin:0 auto;padding:10px 0;font:12px/2 Verdana;color:#CCC;text-align:center;}
#web_footer .footer_body a{color:#666;}
#web_footer .footer_body a:hover{color:#F60;}
#web_footer a.footer_orange{font-weight:bold;color:#F60;}
#web_footer a.footer_orange:hover{}

/* Content */
.login_border{width:246px;height:auto;padding:1px;border:1px solid #DFDFDF;background:#FFF;}
.login_border .login_box{position:relative;z-index:0;width:246px;height:auto;background:#FCFCFC;overflow:hidden;}
.login_border .login_box .close{position:absolute;right:2px;top:3px;width:16px;height:16px;background:url(../images/close_bg.png) 1px 1px no-repeat;cursor:pointer;}
.login_border .login_box .close_hover{background:url(../images/close_bg.png) 1px -49px no-repeat;}
.login_border .login_box .title{width:auto;height:30px;padding:13px 0 0 14px;background:url(../images/register_bg.png) 0 0 repeat-x;font:bold 14px/1.5 Verdana;color:#333;}
.login_border .login_box .title span{font:12px/1.5 Verdana;color:#A1A1A1;}
.login_border .login_box .alarm_name{display:none;width:193px;height:3px;margin:0 14px;padding:3px 5px 1px 25px;font:12px/1.5 Verdana;}
.login_border .login_box .alarm_password{display:none;width:193px;height:3px;margin:0 14px;padding:3px 5px 1px 25px;font:12px/1.5 Verdana;}
.login_border .login_box .alarm_login{display:none;width:193px;height:3px;margin:0 14px;padding:3px 5px 1px 25px;font:12px/1.5 Verdana;}
.login_border .login_box .alarm_name.red{display:block;height:18px;border:1px solid #F5D2D1;background:url(../images/register_icon.png) 5px -46px no-repeat #FBF4F3;color:#E95A60;}
.login_border .login_box .alarm_password.red{display:block;height:18px;border:1px solid #F5D2D1;background:url(../images/register_icon.png) 5px -46px no-repeat #FBF4F3;color:#E95A60;}
.login_border .login_box .alarm_login.red{display:block;height:18px;border:1px solid #F5D2D1;background:url(../images/register_icon.png) 5px -46px no-repeat #FBF4F3;color:#E95A60;}
.login_border .login_box .item{height:28px;padding:6px 0 0 20px;font:12px/1.5 Verdana;color:#666;}
.login_border .login_box .holder_space{float:left;width:36px;height:20px;}
.login_border .login_box a.forget_password{text-decoration:underline;color:#5CA0E2;}
.login_border .login_box a.forget_password:hover{color:#F60;}
.login_border .login_box a.forget_username{text-decoration:underline;color:#5CA0E2;}
.login_border .login_box a.forget_username:hover{color:#F60;}
.login_border .login_box a.now_reg{font-weight:bold;color:#275E93;}
.login_border .login_box a.now_reg:hover{color:#F60;}
.login_border .login_box .line{margin:0 15px;height:1px;background:#E6E6E6;font:1px/1 Arial;}

.top_step_box{width:auto;height:35px;background:url(../images/register_bg.png) 0 -200px repeat-x;}
.top_step_box .top_step{width:920px;height:34px;margin:0 auto;}
.top_step_box .top_step .name{float:right;padding:7px 10px 0 0;font:bold 14px/1.5 Verdana;color:#A1A1A1;}
.top_step_box .top_step .step{float:left;width:150px;height:27px;padding:7px 10px 0 0;font:14px/1.5 Arial;color:#666;text-align:center;}
.top_step_box .top_step .step.now{font-weight:bold;color:#FFF;background:url(../images/register_bg.png) 0 -250px repeat-y;}
.top_step_box .top_step .arrow{float:left;width:20px;height:34px;background:url(../images/register_bg.png) -50px -300px repeat-y;}
.top_step_box .top_step .arrow.left{background:url(../images/register_bg.png) 0 -300px repeat-y;}
.top_step_box .top_step .arrow.right{background:url(../images/register_bg.png) -100px -300px repeat-y;}

.reg_box{width:670px;padding:30px 0 0 250px;height:auto;}
.reg_box .item{width:650px;height:37px;font:12px/1.5 Verdana;}
.reg_box .item .left{float:left;width:90px;height:auto;padding:7px 0 0 0;color:#666;text-align:right;} 
.reg_box .item .right{float:left;width:300px;height:auto;padding:0 9px 0 5px;}
.reg_box .item .alarm_box{float:left;width:230px;height:auto;padding:2px 0 0 0;}
.reg_box .alarm_name{display:none;width:200px;height:auto;padding:2px 5px 3px 25px;font:12px/1.4 SimSun;}
.reg_box .alarm_password{display:none;width:200px;height:auto;padding:2px 5px 3px 25px;font:12px/1.4 SimSun;}
.reg_box .alarm_password_again{display:none;width:200px;height:auto;padding:2px 5px 3px 25px;font:12px/1.4 SimSun;}
.reg_box .alarm_mail{display:none;width:200px;height:auto;padding:2px 5px 3px 25px;font:12px/1.4 SimSun;}
.reg_box .alarm_realname{display:none;width:200px;height:auto;padding:2px 5px 3px 25px;font:12px/1.4 SimSun;}
.reg_box .alarm_idcardno{display:none;width:200px;height:auto;padding:2px 5px 3px 25px;font:12px/1.4 SimSun;}
.reg_box .alarm_verification{display:none;width:200px;height:auto;padding:2px 5px 3px 25px;font:12px/1.4 SimSun;}
.reg_box .blue{position:absolute;z-index:1;display:block;height:auto;border:1px solid #D3E5F2;background:url(../images/register_icon.png) 5px 4px no-repeat #F3F8FB;color:#579DD4;}
.reg_box .red{position:absolute;z-index:1;display:block;height:auto;border:1px solid #F5D2D1;background:url(../images/register_icon.png) 5px -46px no-repeat #FBF4F3;color:#E95A60;}
.reg_box .green{display:block;height:auto;border:1px solid #FFF;background:url(../images/register_icon.png) 5px -96px no-repeat #FFF;color:#E95A60;}

.reg_box .verify_code{width:100px;height:30px;margin:0 8px 0 5px;vertical-align:middle;cursor:pointer;}
.reg_box a.change_v_code{text-decoration:underline;color:#579DD4;}
.reg_box a.change_v_code:hover{color:#F60;}

.reg_line{width:850px;height:1px;margin:0 35px;border-bottom:1px dashed #D5D5D5;}
.reg_line_s{width:330px;height:1px;margin:0 0 11px 0;border-bottom:1px dashed #EEE;}

.sub_box{width:577px;padding:0 0 0 343px;height:auto;font:12px/1.5 Verdana;color:#666;}
.sub_box a.agreement_link{font:bold 12px/1.5 Verdana;color:#579DD4;}
.sub_box a.agreement_link:hover{color:#F60;}

.reg_mail{margin:0 35px;width:700px;height:auto;padding:50px 0 30px 150px;background:url(../images/register_icon_b.png) 7px 33px no-repeat;font:12px/2 Verdana;color:#666;}
.reg_mail .blue{color:#4A98D8;}
.reg_mail .orange{color:#F7941D;}
.reg_mail .underline{text-decoration:underline;}
.reg_mail a.go_mail{display:inline-block;width:214px;height:32px;background:url(../images/register_bt.png) 0 -200px no-repeat;}
.reg_mail a.go_mail:hover{text-decoration:none;background:url(../images/register_bt.png) 0 -250px no-repeat;}
.reg_mail_line{width:850px;height:1px;margin:0 35px;border-bottom:1px dashed #D5D5D5;}
.reg_mail_alarm{margin:0 35px;width:700px;height:auto;padding:20px 0 30px 150px;font:12px/2 Verdana;color:#666;}
.reg_mail_alarm li{padding:0 0 0 12px;background:url(../images/register_icon.png) 0 -139px no-repeat;}
.reg_mail_alarm .blue{color:#4A98D8;}
.reg_mail_alarm .orange{color:#F7941D;}
.reg_mail_alarm .black{color:#111;}
.reg_mail_alarm .reg_mail_send_again{width:137px;height:23px;margin:0;padding:0;font:12px/1.5 Verdana;color:#333;cursor:pointer;}

.reg_succeed{margin:0 35px;width:770px;height:auto;padding:77px 0 77px 150px;background:url(../images/register_icon_b.png) 7px -140px no-repeat;font:12px/2 Verdana;color:#666;}
.reg_succeed .blue{color:#4A98D8;}
.reg_succeed .underline{text-decoration:underline;}
.reg_succeed .orange{color:#F7941D;}
.reg_succeed a.go_something{display:inline-block;width:114px;height:18px;padding:4px 0 4px 50px;background:url(../images/register_bt.png) 0 -400px no-repeat;font:12px/1.5 Verdana;color:#666;}
.reg_succeed a.go_something:hover{text-decoration:none;color:#4A85CB;}
.reg_succeed a.client_operation{display:none;}

.reg_error{margin:0 35px;width:770px;height:auto;padding:77px 0 77px 150px;background:url(../images/register_icon_b.png) 7px -340px no-repeat;font:12px/2 Verdana;color:#666;}
.reg_error .red{color:#910D0D;}
.reg_error a{color:#4A98D8;}
.reg_error a:hover{color:#F60;}

.change_mail_error{margin:0 35px;width:770px;height:auto;padding:77px 0 77px 150px;background:url(../images/register_icon_b.png) 7px -340px no-repeat;font:12px/2 Verdana;color:#666;}
.change_mail_error .red{color:#910D0D;}
.change_mail_ok{margin:0 35px;width:770px;height:auto;padding:77px 0 77px 150px;background:url(../images/register_icon_b.png) 7px -140px no-repeat;font:12px/2 Verdana;color:#666;}
.change_mail_ok .green{color:#3F8516;}
.change_mail_succeed{margin:0 35px;width:770px;height:auto;padding:77px 0 77px 150px;background:url(../images/register_icon_b.png) 7px -140px no-repeat;font:12px/2 Verdana;color:#666;}
.change_mail_succeed .green{color:#3F8516;}
.change_mail_succeed .blue{color:#4A98D8;}

.reset_password{margin:0 35px;width:630px;height:auto;padding:50px 0 13px 220px;background:url(../images/register_icon_b.png) 127px -617px no-repeat;font:12px/2 Verdana;color:#666;}
.reset_password .item{width:580px;height:37px;font:12px/1.5 Verdana;}
.reset_password .item .left{float:left;width:110px;height:auto;padding:7px 0 0 0;color:#666;text-align:right;} 
.reset_password .item .right{float:left;width:224px;height:auto;padding:0 9px 0 5px;}
.reset_password .item .alarm_box{float:left;width:230px;height:auto;padding:2px 0 0 0;}
.reset_password .alarm_mail{display:none;width:200px;height:auto;padding:2px 5px 3px 25px;font:12px/1.4 SimSun;}
.reset_password .alarm_verification{display:none;width:200px;height:auto;padding:2px 5px 3px 25px;font:12px/1.4 SimSun;}
.reset_password .verify_code{width:54px;height:24px;margin:0 8px 0 5px;vertical-align:middle;cursor:pointer;}
.reset_password a.change_v_code{text-decoration:underline;color:#579DD4;}
.reset_password a.change_v_code:hover{color:#F60;}
.reset_password .blue{position:absolute;z-index:1;display:block;height:auto;border:1px solid #D3E5F2;background:url(../images/register_icon.png) 5px 4px no-repeat #F3F8FB;color:#579DD4;}
.reset_password .red{position:absolute;z-index:1;display:block;height:auto;border:1px solid #F5D2D1;background:url(../images/register_icon.png) 5px -46px no-repeat #FBF4F3;color:#E95A60;}
.reset_password .green{display:block;height:auto;border:1px solid #F9F9F9;background:url(../images/register_icon.png) 5px -96px no-repeat #F9F9F9;}
.reset_box{width:577px;padding:0 0 0 370px;height:auto;font:12px/1.5 Verdana;color:#666;}

.reset_mail{margin:0 35px;width:550px;height:auto;padding:50px 0 30px 300px;background:url(../images/register_icon_b.png) 157px -167px no-repeat;font:12px/2 Verdana;color:#666;}
.reset_mail .blue{color:#4A98D8;}
.reset_mail a.go_mail{display:inline-block;width:214px;height:32px;background:url(../images/register_bt.png) 0 -300px no-repeat;}
.reset_mail a.go_mail:hover{text-decoration:none;background:url(../images/register_bt.png) 0 -350px no-repeat;}
.reset_mail_line{width:850px;height:1px;margin:0 35px;border-bottom:1px dashed #D5D5D5;}
.reset_mail_alarm{margin:0 35px;width:550px;height:auto;padding:20px 0 30px 300px;font:12px/2 Verdana;color:#666;}
.reset_mail_alarm li{padding:0 0 0 12px;background:url(../images/register_icon.png) 0 -139px no-repeat;}
.reset_mail_alarm .blue{color:#4A98D8;}
.reset_mail_alarm .orange{color:#F7941D;}
.reset_mail_alarm .black{color:#111;}

.set_password{margin:0 35px;width:627px;height:auto;padding:50px 0 7px 223px;background:url(../images/register_icon_b.png) 157px -607px no-repeat;font:12px/2 Verdana;color:#666;}
.set_password .item{width:580px;height:37px;font:12px/1.5 Verdana;}
.set_password .item .left{float:left;width:110px;height:auto;padding:7px 0 0 0;color:#666;text-align:right;} 
.set_password .item .right{float:left;width:224px;height:auto;padding:0 9px 0 5px;}
.set_password .item .alarm_box{float:left;width:230px;height:auto;padding:2px 0 0 0;}
.set_password .item .name{color:#4A98D8;font:bold 14px/2.2 Verdana;}
.set_password .alarm_password{display:none;width:200px;height:auto;padding:2px 5px 3px 25px;font:12px/1.4 SimSun;}
.set_password .alarm_password_again{display:none;width:200px;height:auto;padding:2px 5px 3px 25px;font:12px/1.4 SimSun;}
.set_password .blue{position:absolute;z-index:1;display:block;height:auto;border:1px solid #D3E5F2;background:url(../images/register_icon.png) 5px 4px no-repeat #F3F8FB;color:#579DD4;}
.set_password .red{position:absolute;z-index:1;display:block;height:auto;border:1px solid #F5D2D1;background:url(../images/register_icon.png) 5px -46px no-repeat #FBF4F3;color:#E95A60;}
.set_password .green{display:block;height:auto;border:1px solid #F9F9F9;background:url(../images/register_icon.png) 5px -96px no-repeat #F9F9F9;color:#E95A60;}
.set_box{width:577px;padding:0 0 0 370px;height:auto;font:12px/1.5 Verdana;color:#666;}

.set_error{margin:0 35px;width:550px;height:auto;padding:50px 0 30px 300px;background:url(../images/register_icon_b.png) 157px -1007px no-repeat;font:12px/2 Verdana;color:#666;}
.set_error .red{color:#910D0D;}
.set_error a{color:#4A98D8;}
.set_error a:hover{color:#F60;}

.set_succeed{margin:0 35px;width:570px;height:auto;padding:60px 0 20px 280px;background:url(../images/register_icon_b.png) 157px -807px no-repeat;font:12px/2 Verdana;color:#666;}
.set_succeed .blue{font:bold 14px/2 Verdana;color:#4A98D8;}
.set_succeed a.go_login{display:inline-block;width:94px;height:28px;background:url(../images/register_bt.png) 0 -50px no-repeat;}
.set_succeed a.go_login:hover{text-decoration:none;background:url(../images/register_bt.png) -100px -50px no-repeat;}