*html{background-image:url(about:blank);background-attachment:fixed;}
body,p,ul,li{ margin:0; padding:0;}
ol,ul,li{list-style:none;}
#wcagnav input{ border:0;}
/* * {
    cursor: url(../images/allaw.cur),auto !important;
} */
focus { outline: none; }
#gettextmessagebox input{ border:0; outline: none; }
#gettextmessagebox input:hover{ background:#b3b1b1; outline: none;color:#000; }
#wcagnav {height:55px;}

.disabilitiesNav{ width:100%; height:110px; position:fixed; top:0; left:0; z-index:9999999; text-align:center;_position:absolute;_left:expression(eval(document.documentElement.scrollLeft));_top:expression(eval(document.documentElement.scrollTop));}
.disabilitiesNav .disabilitiesTopBg{ width:100%; height:110px; position:absolute; top:0; left:0; background-color:#ebebeb;
/* -webkit-box-shadow: #000 0 2px 3px;
-moz-box-shadow: #000 0 2px 3px;
box-shadow: #000 0 2px 3px; */
}

.toolbar_top li{box-sizing:content-box;width:85px;height:40px;float:left;border-left:1px solid #d8dde1;cursor:pointer;padding-top:70px;background-image:url(../sprite/images.sprite.png);background-repeat: no-repeat;}
.toolbar_li3{background-position:-4px -10px;}
.toolbar_li4{background-position:-68px -10px;}
.toolbar_li1{background-position:-132px -10px;}
.toolbar_li2{background-position:-196px -10px;}
.toolbar_li10{background-position:-260px -10px;}
.toolbar_li5{background-position:-324px -10px;}
.toolbar_li6{background-position:-388px -10px;}
.toolbar_li7{background-position:-644px -10px;}
.toolbar_li8{background-position:-516px -10px;}
.toolbar_li9{background-position:-580px -10px;}
.toolbar_li11{background-position:-710px -10px;}
.toolbar_li12{background-position:-777px -10px;}
.toolbar_li13{background-position:-841px -10px;}
.toolbar_li14{background-position:-910px -3px;padding-right: 10px;}
.toolbar_top li.hover{background-color:#d6d5d5;}
.toolbar_top li.active{background-color:#b3b1b1;}
.toolbar_bottom{width:95px;z-index: 999;position: absolute;top:110px;right: 342px;border: 7px solid #e4e4e4;display: none;}
.toolbar_bottom li{box-sizing:content-box;height:28px;line-height:28px;cursor:pointer;background-color: #fff;border:5px solid #e4e4e4;}
.toolbar_bottom li.hover{background-color: #d6d5d5;}
.toolbar_bottom li.active{background-color: #b3b1b1;}


.disabilitiesNav .disabilitiesMain{ width:100%;margin:0 auto;z-index:9999999; position:absolute; top:0; left:0;}
.disabilitiesNav .disabilitiesMain .disabilitiesContent{ width:1214px;height: 110px; margin:0 auto; overflow: visible; position: relative;}

.toolbar2{z-index:999;display: none;}
.area_type{width:100px;height:85px;float: left;padding-top: 15px;}
.area_dis{display: none;cursor: pointer;}
.area_type .type_top .area_l{font-size:18px;font-weight: bolder;color: #225aa0;display: block;float: left;padding:10px 0 5px;}
.area_type .area_r{float: left;font-size:15px;font-weight:normal;color: #f00; padding: 12px 0 8px;}
.area_type .type_bottom{color: #225aa0;display: block;float: left;font-size:15px;}

.area_return{width:85px;height:110px;float: right;background-image:url(../sprite/images.sprite.png);background-position:-991px -10px;line-height: 145px;border-left:1px solid #d8dde1;border-right:1px solid #d8dde1;}
.area_return.hover{background-color: #d6d5d5;}

.bl{border:2px solid #f00}
.tbl{background:#1e9fff}
.barrierfree_btn {cursor:pointer;background-repeat:no-repeat}

.disabilitiesNav .barrierfree_logo {display:none;} 

.disabilitiesNav .btn_big {width:87px;height:76px;display:inline-block;*display:inline;*zoom:1;;margin-right:5px;}
.disabilitiesNav .btn_small {width:57px;height:38px;display:inline-block;*display:inline;*zoom:1;;margin-right:4px;}
.disabilitiesNav .btn_long {width:240px;height:34px;margin-top:0px;}
.disabilitiesNav .btn_half {width:99px;height:35px;margin-right:5px;}
.disabilitiesNav .btn_group {margin-right:5px;display:inline-block;*display:inline;*zoom:1;;vertical-align:top;position: relative;}
.barrierfree_model{width:85px;z-index: 999;position: absolute;top:82px;border: 1px solid #000;background-color: #7d7d7d;color:#fff;display: none;}
.barrierfree_model li{height:30px;line-height:30px;cursor:pointer;}
.barrierfree_model .model_top{padding-top:5px;}
.barrierfree_model .model_bottom{padding-bottom:5px;}
.barrierfree_model li.hover{background-color: #d32a2a;}
.barrierfree_model li.active{background-color: #b50202;}
.disabilitiesLanguage{ width:100%; height:160px; overflow:hidden; position:fixed; bottom:0; left:0; z-index:9999999999; background:fixed;_position:absolute; _bottom:auto; _top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));}
.disabilitiesLanguage .disabilitiesFooterBg{ width:100%; height:160px; position:absolute; top:0; left:0;background-color:#d4d4d4;}
.disabilitiesLanguage .LanguageMain{ position:absolute; top:10px; left:20px; z-index:99999999;width: 100px;}
.disabilitiesLanguage .LanguageMain ul{padding: 0; margin: 0; float: left;}
.disabilitiesLanguage .font_titleBar li{ float:left;}

.disabilitiesLanguage li input{ width:48px; height:48px; cursor:pointer;color:#000;font-size:24px; background-color:#81868c;margin:1px;}
.disabilitiesLanguage li.disabilitiesNow input{ background-color:#355e92;color: #fff;}
.disabilitiesLanguage li.disabilitiesNow input:hover{ background-color:#81868c;}

.disabilitiesLanguage li.barrierfree_open input {background-color:#355e92;color: #fff;}
.disabilitiesLanguage li.barrierfree_close input {background-color:#81868c;}

.disabilitiesLanguage .LanguageSpell li input{ width:98px; height:45px; border:none; cursor:pointer;font-size:24px;}
.disabilitiesLanguage .Languagetext{ width:100%; position:absolute; top:10px; left:130px; z-index:99999999; overflow: ;}
.disabilitiesLanguage .LanguageTextMin{ padding-right:140px;}
.disabilitiesLanguage .LanguageTextMin .LanguageTextContent{ width:100%;height:142px; background:#fff;}
.disabilitiesLanguage .LanguageTextMin .LanguageTextContent p{ width:90%; margin:0 auto;padding: 0;}
.disabilitiesLanguage .LanguageTextMin .LanguageTextContent table{ width:100%; height:138px; margin:0 auto;}
.disabilitiesLanguage .LanguageTextMin .LanguageTextContent table td{ font-size:32px!important; line-height:1.2em!important;font-family:"Microsoft YaHei";text-align:center;vertical-align:middle;}
.disabilitiesLanguage .LanguageTextMin .LanguageTextContent table td.barrierfree_pinyin{ font-size:22px!important;}
.disabilitiesLanguage .LanguageTextMin .LanguageTextContent table td#helper_messageBoxText{ width:100%; height:100%;  }

samp{font:inherit;}


