.write-page .labs-image {
    display: none;
}
.dialog__content .video-upload{
	display:none;
}

.vip,.vip i{
    color: #e0981d;
}
.vip{
    margin-right: 13px;
    margin-left: 16px;
}
@-webkit-keyframes super_ngiftl{
  0%,100%{-webkit-transform: rotate(0deg);}
  50%{-webkit-transform: rotate(-15deg);}
}
@-webkit-keyframes super_ngiftr{
  0%,100%{-webkit-transform: rotate(0deg);}
  50%{-webkit-transform: rotate(15deg);}
}
span.vip:before {
    content: "";
    position: absolute;
    
    
    background: url(../image/232059cb5361a93.png) no-repeat -60px 0;
    width: 13px;
    height: 24px;
    transform-origin: right bottom;
    -webkit-transform-origin: right bottom;
    animation: super_ngiftl 2s linear both infinite;
    -webkit-animation: super_ngiftl 2s linear both infinite;
    margin-left: -11px;
}
span.vip:after {
    content: "";
    position: absolute;
    
    
    background: url(../image/232059cb5361a93.png) no-repeat -100px 0;
    width: 13px;
    height: 24px;
    transform-origin: left bottom;
    -webkit-transform-origin: left bottom;
    animation: super_ngiftr 2s linear both infinite;
    -webkit-animation: super_ngiftr 2s linear both infinite;
    margin-left: -2.5px;
}

.single-post-meta.no-thumb img {
    margin-top: 5px;
}

.ecy1-paixu{
    font-size: 14px;
    background-color:#ffffff;
    box-shadow: 0 0 4px #ddd;
    margin:5px;
    border-radius:4px
}
.ecy1-paixu span{
	background-color:#f5f5f5;
	display: block;
	padding:6px 10px;
	text-align: center;
	font-size: 18px;
	font-weight: 600;
}
.ecy1-paixu li{
	position: relative;
	display: inline-block;
	padding: 10px;
}
.ecy1-paixu li a{
    display: block;
    padding:6px 10px;
    line-height: 1;
    border-radius: 4px;
    position: relative;
    background-color: #f5f5f5
}

.ecy1-paixu li:hover a{
    background-color: #f16b6f;
    color:#fff
}
li.cat-item.current-cat a{
    background-color: #12b7f5;
  	color: #fff;
}

@media screen and (max-width: 670px){
.ecy1-god {
    margin: 0 7px!important;
}
}
.ecy1-god {
    position: relative;
    background-color: #fff;
    
  
    box-shadow: 0 0 5px #ff5d8f5e;
}
.ecy1-pb5 {
    padding-bottom: 80px!important;
}
.ecy1-pt5 {
    padding-top: 5px!important;
}
.ecy1-mt10 {
    margin-top: 10px!important;
}
.ecy1-god__img {
    float: left;
    width: 80%;
    height: 80px;
}
.ecy1-god__forecast {
    position: absolute;
    top: 2.3px;
    right: 1px;
}
._ecy1--red{
    border: 1px solid #ff6fa2;
    background-color: #ff6fa2;
    color: #fff;
}
._ecy1--red:hover{
    background-color: #f14984;
}
._ecy1--circle {
    padding: 0;
    width: 80px;
    height: 80px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    line-height: 1.5;
    text-align: center;
    padding-top: 15px;
}
._ecy1--wrap-border,._ecy1--wrap-borde:hover {
    border: 5px solid #f6dbe4;
}

.ecy1_sortmains .content-hide-tips {
    padding: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    background-color: #fff0;
}
.ecy1-down-text {
    height: 45px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    margin: 0 auto;
    font-size: 18px;
    background: linear-gradient(90deg,#ffb6a7 10%,#ff2e8b 90%);
    border-radius: 2px;
}
.ecy1_Comics_IntelInfo em, 
.ecy1_Comics_IntelInfo cite,
.ecy1_Comics_IntelInfo i {
    font-style: normal;
}
.ecy1_Comics_IntelInfo .ecy1_Comics_Terms span{
	font-size: 12px;
}
.ecy1_Comics_Terms ul li i .user-lv i {
    font-size: 25px;
    margin-top: -5px;
    margin-left: 0px;
    padding: 0;
}

.ecy1_Comics_IntelInfo .ecy1_Comics_Terms .coin{
	    background: none;
	    display: inline-block;
	    padding: 0;
	    border-radius: 30px;
	    text-shadow: 0px 1px 0px #fff;
}
.ecy1_Comics_Intel {
    border: 1px solid #eee;
    padding: 20px;
    background: #fff;
    margin-bottom: 30px;
    width: 100%;
    height: 100%;
}
.ecy1_Comics_IntelPiv {
    float: left;
    width: 33%;
    height: 370px;
    overflow: hidden;
    box-shadow: 0 3px 14px 0 rgba(147,124,124,.50);
}
.ecy1_Comics_IntelPiv span {
    display: block;
    width: 100%;
    height: 370px;
}
.ecy1_Comics_IntelInfo {
    float: right;
    width: 65%;
}
.ecy1_Comics_IntelInfo span {
    height: 20px;
    line-height: 20px;
    margin-bottom: 15px;
    font-size: 15px;
    color: #333;
    font-weight: 500;
    overflow: hidden;
}
.ecy1_Comics_Terms {
    margin-bottom: 1px;
}
.ecy1_Comics_Terms ul{
    margin: 0;
    padding: 0;
}
.ecy1_Comics_Terms ul li {
    height: 28px;
    margin-bottom: 15px;
}
ul li {
    list-style: none;
}
.ecy1_Comics_Terms ul li em {
    height: 28px;
    line-height: 28px;
    display: inline-block;
    float: left;
    font-size: 14px;
    color: #333;
    font-weight: 600;
    letter-spacing: 2px;
}
.ecy1_Comics_Terms ul li i {
    display: inline-block;
    float: left;
    margin-left: 10px;
    height: 28px;
    line-height: 28px;
    background: #FDF5E8;
    border-radius: 24px;
    padding: 0 10px;
    font-size: 14px;
}
.clear {
    clear: both;
}
.ecy1_Comics_Btms {
    margin-bottom: 15px;
}
.ecy1_Comics_Btms ul li.nex_Comics_favbtn a {
    display: block;
    width: 138.222px;
    font-size: 14px;
    background: #16aace;
    height: 40px;
    position: relative;
    border-radius: 4px;
    line-height: 40px;
    border-bottom: 0px solid;
}
.ecy1_Comics_Btms ul li.nex_Comics_favbtn a em {
    display: block;
    width: 22px;
    height: 22px;
    background: url(../image/fav.png) center no-repeat;
    position: absolute;
    top: 9px;
    left: 20px;
}
.ecy1_Comics_Btms ul li.nex_Comics_favbtn a span {
    display: block;
    width: 60px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    top: 10px;
    left: 50px;
    color: #fff;
}
.ecy1_Comics_Btms ul li.ecy1_Comics_dlbtn button {
    display: block;
    width: 160px;
    font-size: 14px;
    background: #fd6161;
    height: 40px;
    position: relative;
    border-radius: 4px;
    line-height: 40px;
    border: 0;
}
.ecy1_Comics_Btms ul li.ecy1_Comics_dlbtn button em {
    display: block;
    width: 22px;
    height: 22px;
    background: url(../image/xz.png) center no-repeat;
    position: absolute;
    top: 9px;
    left: 36px;
}
.ecy1_Comics_Btms ul li.ecy1_Comics_dlbtn button span {
    display: block;
    width: 60px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    top: 10px;
    left: 70px;
    color: #fff;
}
.ecy1_Comics_Btms ul li {
    float: left;
    margin-right: 0px;
    height: 40px;
    line-height: 40px;
    margin: 10px 0 15px 10px;
}
.ecy1_Comics_Btms ul li.ecy1_Comics_vipbtn a {
    display: block;
    width: 160px;
    font-size: 14px;
    background: #30BA78;
    height: 40px;
    position: relative;
    border-radius: 4px;
    line-height: 40px;
    border: 0;
}
.ecy1_Comics_Btms ul li.ecy1_Comics_vipbtn a em {
    display: block;
    width: 22px;
    height: 22px;
    background: url(../image/vip.png) center no-repeat;
    position: absolute;
    top: 9px;
    left: 36px;
}
.ecy1_Comics_Btms ul li.ecy1_Comics_vipbtn a span {
    display: block;
    width: 60px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    top: 10px;
    left: 70px;
    color: #fff;
}
.ecy1_Comics_pwarea {
    display: block;
    width: 282px;
    font-size: 14px;
    background: #6db1fb;
    height: 40px;
    position: relative;
    border-radius: 4px;
    line-height: 40px;
}
.ecy1_Comics_pwarea em {
    display: block;
    width: 22px;
    height: 22px;
    background: url(../image/pw.png) center no-repeat;
    position: absolute;
    top: 9px;
    left: 48px;
}
.ecy1_Comics_pwarea i {
    display: block;
    width: 155px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    top: 10px;
    left: 80px;
    overflow: hidden;
    color: #fff;
}
@media screen and (max-width: 670px)
 {
.ecy1_Comics_IntelInfo {
    float: right;
    width: 100%;
}
.ecy1_Comics_IntelPiv {
    display: none;
}
.ecy1_Comics_Terms {
	margin-bottom: 0px;
}
   
   .ecy1-god__forecast {
    position: absolute;
    top: 2.3px;
    right: 5px;
}
}


.content-card .thumb {
    width: 100%;
    padding-top: 62.5%;
    height: 0;
    position: relative;
    background-color: rgba(204, 204, 204, 0.19);
}

#toolbar .ql-toolbar.ql-snow .ql-formats:nth-child(11) button {
    width: 70px;
    color: #8590a6;
}
#toolbar .ql-toolbar.ql-snow .ql-formats:nth-child(11) {
    position: absolute;
    right: 198px;
    bottom: -3px;
}
@media (max-width: 670px){
#toolbar .ql-toolbar.ql-snow .ql-formats:nth-child(11) {
    display:none;
}
  }

#ecy1-new{
    display: inline-block;
    text-align: center;
    width: 80px;
    height: 20px;
    line-height: 16px;
    position: absolute;
    top: 8px;
    right: -22px;
    z-index: 2;
    color: #fff;
    overflow: hidden;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    border: 1px dashed #fff;
    box-shadow: 0 0 0 3px #2cc185c4, 0px 21px 5px -18px rgba(0, 0, 0, 0.63);
    background: #2cc185c4;
    display: none;
}

.hdinfo {
    display: inline-block;
    text-align: center;
    width: 80px;
    height: 20px;
    line-height: 16px;
    position: absolute;
    top: 10px;
    left: -20px;
    z-index: 2;
    color: #fff;
    overflow: hidden;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    border: 1px dashed #fff;
    box-shadow: 0 0 0 3px #12b7f5c4, 0px 21px 5px -18px rgba(0, 0, 0, 0.63);
    background: #12b7f5c4;
}

.ecy1-touxiang{
	position:absolute;
	bottom:6px;
	left:10px
}
.ecy1-touxiang img{
	height:25px;
	width:25px;
	border-radius: 100%;
}
.ecy1-shijian{
	position:absolute;
	bottom:10px;
	left:40px;
	color:#fff
}
.content .ecy1{
	display:none
}

.zrz-menu-in .sub-menu li a:hover{
    background-color: #b0fa2f;
    border-right: 2px solid #b0fa2f;
    margin-right: -2px;
    border-left: 2px solid #b0fa2f;
    margin-left: -2px;
    color:#000000;
    transform:none;
    border-radius:5px
}
.zrz-menu-in .menu-item:hover .sub-menu{
	transition: all 1s ease;
}
.zrz-icon-font-zelvxiangxiadanjiantouzhankai{
	display:none
}

.zrz-menu-in .menu-item:hover .sub-menu{
	border-radius: 0 0 4px 4px;
}

    .icon {
    width: 1.6em;
    height: 1.4em;
    vertical-align: -0.2em;
    fill: currentColor;
    overflow: hidden;
    }

.paih{
	padding-left: 20px;
    color: #f25d8e;
    display: block;
    background: url(../image/icons.png)-658px -661px no-repeat;
}
.ecy1_title{
	display: flex;
	font-weight: 400;
	margin: 0;
	position: relative;
}
.ecy1_title_link{
    color: #212121;
    position: relative;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.ecy1_title__text{
	font-size: 24px;
}
.ecy1_space {
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
}
.biaoti{
    margin-bottom: .5rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff;
    padding-right: 10px;
      height: 50px;
}
@media (max-width: 1200px){
.biaoti {
	padding-right: 0px;
}
  }
.biaoti-img {
    
    width: 40px;
    height: 40px;
    float: left;
    margin-right: .5rem;
}
.gengduo1 {
    display: inline-block;
    width: 58px;
    line-height: 23px;
    font-size: 12px;
    height: 24px;
    border: 1px solid #9ba3ab;
    border-radius: 4px;
    color: #9ba3ab;
    text-align: center;
    margin-right: 4px;
}
.cart-list:hover.cart-list .preview:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.2);
    transition: opacity .3s;
}
.ecy1_cms-menu {
    display: inline;
    padding-left: 35px;
    line-height: 34px;
    float: left;
    position: absolute;
    left: 137px;
    height: 30px;
}
.ecy1_cms-menu a {
    padding: 0 3px;
    font-size: 12px;
}
.ecy1_cms-menu a:after {
    display: inline-block;
    padding: 0 .5rem;
    content: '/';
    color: #eee;
    vertical-align: middle;
}
.ecy1_cms-menu:before{
    position: absolute;
    background: #5abee1;
    left: 1.5rem;
    bottom: 3px;
    width: 3px;
    height: 20px;
    display: block;
    content: '';
    -ms-transform: skew(-20deg);
    -webkit-transform: skew(-20deg);
    transform: skew(-20deg);
}
.ecy1_cms-menu:after {
    position: absolute;
    background: #ff6fa2;
    left: 1.1rem;
    bottom: 3px;
    width: 3px;
    height: 20px;
    display: block;
    content: '';
    -ms-transform: skew(-20deg);
    -webkit-transform: skew(-20deg);
    transform: skew(-20deg);
}
#main .lanmu:nth-child(5n+1) .biaoti .biaoti-img{background: url(../image/b9592267gy1fqm8m00kwvj201e01e0sn.jpg) no-repeat;background-size: 40px;}
#main .lanmu:nth-child(5n+2) .biaoti .biaoti-img{background: url(../image/b9592267gy1fqm8lxkmlkj201e01emx3.jpg) no-repeat;background-size: 40px;}
#main .lanmu:nth-child(5n+3) .biaoti .biaoti-img{background: url(../image/b9592267gy1fqm8n0mukej201e01eglj.jpg) no-repeat;background-size: 40px;}
#main .lanmu:nth-child(5n+4) .biaoti .biaoti-img{background: url(../image/b9592267gy1fqm8m0c3hgj201e01ewee.jpg) no-repeat;background-size: 40px;}
#main .lanmu:nth-child(5n+5) .biaoti .biaoti-img{background: url(../image/b9592267gy1fqm8lxw9gaj201e01ea9z.jpg) no-repeat;background-size: 40px;}
#main .lanmu:nth-child(5n+6) .biaoti .biaoti-img{background: url(../image/b9592267gy1fqm8ly932aj201e01emx3.jpg) no-repeat;background-size: 40px;}
#main .lanmu:nth-child(5n+7) .biaoti .biaoti-img{background: url(../image/b9592267gy1fqm8lvz8pyj201e01emx3.jpg) no-repeat;background-size: 40px;}
#main .lanmu:nth-child(5n+8) .biaoti .biaoti-img{background: url(../image/b9592267gy1fqm8lwau3tj201e01ea9z.jpg) no-repeat;background-size: 40px;}
#main .lanmu:nth-child(5n+9) .biaoti .biaoti-img{background: url(../image/b9592267gy1fqm8lxkmlkj201e01emx3.jpg) no-repeat;background-size: 40px;}
#main .lanmu:nth-child(5n+10) .biaoti .biaoti-img{background: url(../image/b9592267gy1fqm8lyykpmj201e01emx2.jpg) no-repeat;background-size: 40px;}

.sign-button-r a.button.text {
    display: none;
}

@media screen and (max-width: 670px){
.go-top .tool-button {
    background: none;
    box-shadow: none;
    height: 50px;
    width: 15%;
    text-align: center;
    padding-top: 2px;
}
  .content-card .post-meta {
    text-align: left;
    display: none;
}
  #tag_cloud-3{
  display:none;
  }
  #media_image-5{
  display:none;
  }
  .bou_girl{
  display:none;
  }
  .vip-rmb {
    font-size: 20px;
    margin: 20px 0;
}
}

.widget_hot_credit .avatar {
    border-radius: 3px;
    width: 30px;
    height: 30px;
    margin-top: 11px;
}
.hot_credit_r {
    padding: 0 7px;
    margin-left: 30px;
}

.comment-meta {
    height: 26px;
    overflow: hidden;
}

.guanbi2 {
    position: fixed;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    color: #ff5d8f;
    background: #fafafa;
    z-index: 99999;
    right: 0;
}
.hot_credit_ava .user-lv {
padding-top: 0px;
    display: block;
}
.be-vip i {
    font-size: 35px;
}


.zrz-menu-post .current-menu-item a,.home-menu-post li:hover a{
    background-color: #ff5d8f;
    color:#fff
}
.home-menu-post li:hover a{
    background-color: #12b7f5;
    color:#fff
}


.widget-title{
	font-size: 16px;
    color: #212121;
    font-weight: 500;
}

.mission {
    border: 2px dashed #ff5d8f;
    border-color: #ff5d8f;
}
.mission a i, .mission a{
    color: #8d2ecc;
}

.mission:hover{
    border: 2px dashed #4bbbfa;
    border-color: #399bff;
    background-color: rgba(57,155,255,.4);
}


.zrz-pager button{
    border: 0px solid #12b7f5;
        -webkit-transition: all .8s ease-out;
    transition: all .8s ease-out;
    background: -webkit-linear-gradient(top,#12b7f5,#12b7f5)
}
.zrz-pager button:hover{
    border: 0px solid #ff5d8f;
    background: -webkit-linear-gradient(top,#ff5d8f,#ff5d8f)
}
.btn-group button,.btn-group .button{
    display: inline-block;
    padding:5px 8px;
    background-color: #fff;
    border:1px solid #cccccc;
    margin-right: 10px;
    line-height: 1;
    font-size:14px;
    color:#9fadbd;
    text-shadow: 0 0 1px #fff;
    font-weight: 700;
    background-image: -webkit-linear-gradient(top,#ffffff,#ffffff);
    height: 30px;
}
.btn-pager button,.btn-pager .button{
    margin-left:10px;
    padding:5px 10px;
    border: 1px solid #afafaf;
    color: #9fadbd;
    background-color: #ffffff;
    text-shadow: 0 0 1px #fff;
    font-weight: 700;
    box-shadow: none;
    background-image: -webkit-linear-gradient(top,#ffffff,#ffffff);
    height:25px;
}

.site-branding-parent{
    
    background-color: hsla(0,0%,100%,.4);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.menu-top ul > li {
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    padding: 10.5px 0;
    margin-right: 10px;
    color: #000;
}
.menu-top ul > li > a {
    padding: 7px 10px;
    font-size: 14px;
    font-weight: 400;
}
.zrz-menu-in .sub-menu li a {
    padding: 5px;
    line-height: 20px;
  	font-size: 13px;
}
@media screen and (max-width: 670px){
  .zrz-menu-in .sub-menu li a {
  font-size: 12px;
  }
}
@media(min-width:670px) {
.site-title {
    top: 3px;
}
.sign-button {
    top: 6px;
}
  }
.zrz-menu-in .sub-menu {
  top: 41px;
  width: 120px;
}
@media (min-width:1050px){
.blur-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40.59px;
    background-position: center -10px;
    background-repeat: no-repeat;
    filter: blur(4px);
}}

.num {
   position: absolute;
    top: 5px;
    display: block;
    right: -12px;
    line-height: 14px;
    
    text-align: center;
    font-family: Calibri;
    background: #f45a8dbf;
    font-size: 12px;
    min-width: 23px;
    color: #ffffff;
    border-radius: 55px 30px 30px 0;
}
@media screen and (max-width: 670px){
  .num {
    right:2px;
  }
}
#home-menu-post span.num {
    position: absolute;
    left: 101%;
    color: #fff;
    border-radius: 4px;
    line-height: 14px;
    text-align: center;
    font-family: Calibri;
    background: #ff5d8f;
    font-size: 15px;
    min-width: 23px;
    top: -8px;
}
.home-menu-post li a {
    padding: 6px 5px;
	 margin-left: 7px;
}

.sign-button .text .avatar {
    border-radius: 100%;
    width: 36px;
    height: 36px;
    margin-top: -5px;
}

.sign-button-r .head-vip {
   display: block;
    width: 68px;
    height: 46px;
    color: #fff;
    background-color: #f45a8d;
    border-radius: 0 0 6px 6px;
    top: -6px;
}

 a:hover {
    text-decoration: none!important;
}
.zijixiugai{
    background-color: #88dadac9;
}
.grid-bor {
    margin: 0px;
    margin-bottom: 9px;
}
.logo {
    max-width: 100%;
    height: 36px;
    width: 140px;
}


 .single-user-meta .author-name {
    font-size: 16px;
}


 .single-file-title.clearfix.mar10-b h2 {
    border-bottom: 0;
    border-left: 0;
}
.grid-item{
width:20%;
}

@media screen and (max-width: 670px) {
    .pos-r.pd10.post-list.box.mar10-b.content-card.grid-item {
        width: 50%;
    }
    .home>#page>#content>#primary-home>#main>.grid-bor>.pos-r.pd10.post-list.box.mar10-b.content-card.grid-item {
        width: 50%;
    }
    
    
    
    
}
.content-card .post-ex {
    display: none;
}
.post-list.content-card .cart-list {
    padding: 0px;
    border-radius: 0;
    box-shadow: 0 0 7px rgba(156, 24, 24, 0);
    background-color: #fff0;
    }


 .wp-r-t {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.wp-r-b-r, .wp-r-b-l {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.wp-r-b-r, .wp-r-b-l {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.wp-r-b-r .img-bg {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.flickity-enabled.is-draggable .flickity-viewport {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.collections-item-img {
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
}
.post-list.content-card .cart-list {
    border-radius: 5px;
    -webkit-border-radius: 0;
    -moz-border-radius: 5px;
}
.post-list.content-card .cart-list .thumb {
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 5px 5px 0 0;
}
.widget .box {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.box {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

 i.ubermenu-sub-indicator.fas.fa-angle-down {
    display: none;
}
@media screen and (max-width: 768px) {
    li#menu-item-2551 {
        display: none;
    }
}


 .widget-author-avatar img {
    border-radius: 100%;
}
.avatar-img-box {
    border-radius: 100%;
}
.avatar-img-box img {
    border-radius: 100%;
}
.avatar-input {
    border-radius: 100%;
}

.content-card .post-ex {
    display: none;
}
.header-top::before {
    display: block;
    width: 100%;
    height: .1875rem;
    background-image: -webkit-linear-gradient(left,#73D2F6,#08C 22%,#7FC400 36%,#FFD583 48%,#FFB21E 63%,#FF4D4D 76%,#503873);
    background-image: linear-gradient(to right,#73D2F6,#08C 22%,#7FC400 36%,#FFD583 48%,#FFB21E 63%,#FF4D4D 76%,#503873);
    content: '';
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.comment-auth {
    border: 1px solid #32cd32;
    color: #22c32e;
}
.comment-mod {
    border: 1px solid #e6005c;
    color: #e5003d;
}


.widget_tag_cloud .widget-title {
    border-bottom: 3px solid #21c6ce91;
}
.box-header {
    line-height: 1;
    background-color: #ffffff52;
    border-bottom: 3px solid #b824d496;
}

.content-card .entry-title {
    font-weight: 400;
    line-height: 32px;
    height: 32px;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    font-size: 12px;
    margin: 0;
    padding: .25rem;
}
.header_bg {
    height: 300px;
}
.ribbon_border {
    height: 4px;
}

.post-list.content-card {
     padding: 0 1.2rem 0 0;
}

.guanbi1{
   display:none
    }

.reply-left .user-lv {
    display: block;
    text-align: center;
    margin-top: -5px;
}
.topic-list-left .user-lv {
    display: block;
    text-align: center;
    margin-top: -5px;
}

.vip-time {
    color: #f00;
    font-size: 16px;
}

.topics article {
	position: relative;
}

.topics article a {
	display: block;
}

.topics article a:hover .overlay {
	opacity: .6
}

.topics article .image {
	display: flex;
	position: relative;
	height: 200px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0px 0px 10px 10px #0000006b inset;
    border-radius: 5px;
}

.topics article .title {
	margin: auto;
	max-width: 600px;
	position: relative;
	text-align: center;
	color: #FFF;
	font-size: 16px;
}

.topics article .title span {
	font-size: 12px;
}

.topics article .title h2::after,
.topics article .title h2::before {
	background: #eee;
	content: "";
	display: inline-block;
	height: 2px;
	margin: 0 25px;
	vertical-align: middle;
	width: 15px;
	-webkit-transition: 0.3s ease-out;
	-moz-transition: 0.3s ease-out;
	-o-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
}

.topics article a:hover .title h2::after,
.topics article a:hover .title h2::before {
	margin: 0 10px;
}

.topics article .dec {
	position: absolute;
	bottom: 0px;
	left: 20px;
	right: 20px;
	text-align: center;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
}

.topics article  a:hover .dec {
	opacity: 1;
	-webkit-transform: translateY(-50px);
	transform: translateY(-5px);
}

.topics article .dec p {
	color: #FFF;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	-webkit-line-clamp: 2;
}

.dialog_overlay {
	position: fixed;
	opacity: 0;
	background: rgba(55, 58, 71, 0.9);
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	-webkit-backface-visibility: hidden;
	opacity: 1;
	pointer-events: auto;
	z-index: 111;
}

.overlay {
	width: 100%;
	height: 100%;
	background: #000;
	-webkit-transition: opacity .4s ease-in-out;
	transition: opacity .4s ease-in-out;
	position: absolute;
	opacity: .2;
	top: 0;
	left: 0;
    border-radius: 5px;
}

.content-zt {
	width: 100%;
}

.ztwz {
	margin-top: 10px;
}

.ztfm {
	background-repeat: no-repeat;
	background-size: 100%;
	height: 160px;
	padding-top: 65px;
	background-position: center;
}

.ztbt {
	font-size: 16px;
	color: #fff;
	text-align: center;
	line-height: 20px
}

.ztbt p {
	font-size: 12px;
}
.zt-fk {
	float: left;
	width: 50%;
	    
    padding: 5px 6px;
}

@media screen and (max-width: 767px) {
	.t-fksj {
		width: 100%;
		float: left;
	}
}

.ecy1 .content-card .thumb {
    width: 100%;
    padding-top: 125%;
    height: 0;
    position: relative;
    background-color: rgba(204, 204, 204, 0.19);
}

@media screen and (max-width: 670px){
  	#home-banner {display: none;}
  	.ecy1-h1 {    
     font-size: 1.5em!important;
    transform: translateY(-35%);
  }
}
@media (min-width: 670px){ 
  .ecy1-huandeng{ display:none } 
  .zrz-menu-in .sub-menu li a:after{ 
    top: 2px;
    position: relative;
    right: -50px; 
    opacity: 0; 
    transition: all .6s ease; 
    font-size: 20px; 
    content: "﹤";
  }
  .zrz-menu-in .sub-menu li a:hover:after 
  { content: "﹤"; 
    opacity: 1; 
    right: 0px; 
  }
  .zrz-menu-in .sub-menu li a:before
  { content: "﹥"; 
    opacity: inherit; 
    right: 0px; 
    font-size: 20px;
    top: 2px;
    position: relative;
  }
}
.hero {
    display: flex;
    height: 530px;
    flex-wrap: wrap;
    align-items: center!important;
    justify-content: flex-end!important;
}
.hero .banner {
    position: relative;
    z-index: 1;
    padding-right: 15px;
    padding-left: 15px;
    background-color: rgba(0,0,0,.2);
    border-radius: 10px;
}
.hero .text {
    float: left;
    font-weight: 300;
    font-size: 20px;
}
.hero h2 {
    padding: 10px 0 0;
    color: #fff;
    font-weight: 300;
    font-size: 42px;
}
.hero p {
    margin-top: 0;
    padding: 10px 0;
    color: #fff;
}

.ecy1-h1 {
   	top: 50%;
    transform: translateY(-50%);
    color: white;
    border: 0!important;
    text-align: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0!important;
    padding: 7px;
}
.entry-header>.img-bg {
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.content-card .entry-title a{
	height: 20px;
    line-height: 20px;
	-webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    color: #212121;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    word-break: break-all;
}

.head-content {
    position: relative;
    height: 220px;
}
.head-content .search {
    position: absolute;
    bottom: 20px;
    right: 0px;
    width: 310px;
    
    padding: 2px 2px 2px 72px;
    background-color: #e5e9ef;
    background-color: rgba(0,0,0,.12);
    border-radius: 6px;
    font-size: 12px;
    margin-right: 12px; 
}
.search .searchform {
    background-color: #fff;
    background-color: hsla(0,0%,100%,.88);
    display: block;
    height: 32px;
    border-radius: 4px;
    transition: background-color .2s;
}
.search .search-keyword {
    float: left;
    width: 200px;
    color: #222;
    font-size: 12px;
    overflow: hidden;
    height: 32px;
    line-height: 32px;
    padding: 0 12px;
    border: 0;
    box-shadow: none;
    background-color: transparent;
}
.search-submit {
    display: block;
    position: absolute;
    right: -9px;
    width: 48px;
    min-width: 0;
    cursor: pointer;
    height: 32px;
    background: url(../image/icons.png) -653px -720px;
    margin: 0;
    padding: 0;
    border: 0;
    margin-right: 11px;
}
.search .link-ranking {
    position: absolute;
    left: 2px;
    top: 2px;
    height: 32px;
    line-height: 32px;
    background-color: #fff;
    background-color: hsla(0,0%,100%,.88);
    border-radius: 4px;
    width: 68px;
    transition: background-color .2s;
}
.search .link-ranking span {
    padding-left: 26px;
    color: #f25d8e;
    display: inline-block;
    background: url(../image/icons.png) -659px -655px no-repeat;
}

.head-content .head-logo {
  	position: absolute;
    width: 240px;
    height: 150px;
    left: 24px;
    top: 70px;
    background: transparent no-repeat 0;
    
}
#banner__container{ 
   background-color: rgb(204, 204, 204);
    height: 220px;
    background-image: url(../image/img.jpg);
    margin-top: -86px;
    margin-bottom: 10px;
}
@media (min-width: 1200px){
.poi-container {
    width: 1184px;
    margin-left: auto;
    margin-right: auto;
}
  .cat-header{
	display:none
}
}
@media (max-width: 1200px){
#banner__container{
	display:none;
}

}

@media (min-width: 1200px){.site-branding-parent{width: 100%!important;position: absolute!important;top: 0!important;left: 0!important;}}

.box{
	box-shadow: 0 0 10px #e5e9ef;
}
  .home-first-screen .parts .home-first-part {
    box-shadow: 0 0 10px rgba(0,0,0,0);
}
.ecy1-paixu {
    box-shadow: 0 0 4px #ddd0;
}

#post-single .entry-title {
    font-size: 28px;
    margin: 0px 20px 0 20px;
    padding: 10px;
}
@media screen and (max-width: 670px){
#post-single .entry-title {
    padding: 10px 0;
    margin: 0 10px 0 10px;
    font-size: 22px;
  }
}

.widget-area .widget_hot_post ul.box {
    box-shadow: 0 0 10px #e5e9ef00;
}

  .widget ul li + li {
    border-top: 0px;
    padding-top: 0px;
}
  .widget_hot_post img {
    top: 0px; 
  }
.widget ul li{
    padding-left: 7px;
}

.widget ul li:nth-child(2) h2 {
    padding: 0px 0 0px 10px;
    line-height: 1.6;
    margin-left: 7px;
    height: 20px;
}
.widget ul li:nth-child(3) h2 {
    padding: 0px 0 0px 10px;
    line-height: 1.6;
    margin-left: 7px;
    height: 20px;
}
.widget ul li:nth-child(4) h2 {
    padding: 0px 0 0px 10px;
    line-height: 1.6;
    margin-left: 7px;
    height: 20px;
}
.widget ul li:nth-child(5) h2 {
    padding: 0px 0 0px 10px;
    line-height: 1.6;
    margin-left: 7px;
    height: 20px;
}
.widget ul li:nth-child(6) h2 {
    padding: 0px 0 0px 10px;
    line-height: 1.6;
    margin-left: 7px;
    height: 20px;
}
.widget ul li:nth-child(7) h2 {
    padding: 0px 0 0px 10px;
    line-height: 1.6;
    margin-left: 7px;
    height: 20px;
}
.widget ul li:nth-child(8) h2 {
    padding: 0px 0 0px 10px;
    line-height: 1.6;
    margin-left: 7px;
    height: 20px;
}

.widget ul li:nth-child(2) .pos-a{
	display:none
}
.widget ul li:nth-child(3) .pos-a{
	display:none
}
.widget ul li:nth-child(4) .pos-a{
	display:none
}
.widget ul li:nth-child(5) .pos-a{
	display:none
}
.widget ul li:nth-child(6) .pos-a{
	display:none
}
.widget ul li:nth-child(7) .pos-a{
	display:none
}
.widget ul li:nth-child(8) .pos-a{
	display:none
}
.widget ul li.pos-r:first-child:after {
    content: "1";
    background:#f3538b
}
.widget ul li.pos-r:nth-child(2):after{
	content: "2";
    background:#f3538b
}
.widget ul li.pos-r:nth-child(3):after{
	content: "3";
	background:#f3538b
}
.widget ul li.pos-r:nth-child(4):after{
	content: "4";
}
.widget ul li.pos-r:nth-child(5):after{
	content: "5";
}
.widget ul li.pos-r:nth-child(6):after{
	content: "6";
}
.widget ul li.pos-r:nth-child(7):after{
	content: "7";
}
.widget ul li.pos-r:nth-child(8):after{
	content: "8";
}
.widget ul li.pos-r:after {
    position: absolute;
    color: #fff;
    height: 20px;
    line-height: 18px;
    left: 0;
    top: 0;
    font-size: 12px;
    min-width: 12px;
    text-align: center;
    background-color: #b8c0cc;
    border-radius: 4px;
    padding: 0 3px;
    font-weight: bolder;
    font-style: normal;
}
  .widget ul li.pos-r:first-child img {
    display: flex;
    margin-left: 25px;
  }
  .widget_hot_post a h2 {
    font-size: 12px;
    font-weight: 400;
    padding: 2px 0 5px 10px;
    line-height: 1.6;
    overflow: hidden;
    margin-left: 74px;
    height: 44px;
}
.mar16-b {
    margin-bottom: 11px;
}



@media screen and (max-width: 670px){
.site-branding {
    background-color: rgb(255, 255, 255);
  }}

a:hover {
    text-decoration: none;
    color: #00a1d6;
    transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    -o-transition: .5s;
}


.rank-item {
    transition: .2s;
    overflow: hidden;
    border-bottom: 1px solid #e5e9ef;
    position: relative;
}
.rank-item:hover {
    box-shadow: 0 2px 5px #ccc;
}
.rank-item .num1 {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 20px;
    left: 0;
    line-height: 70px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: #b8c0cc;
    font-family: simhei;
}
.rank-item .content {
    padding: 20px 0 20px 70px;
    overflow: hidden;
    font-size: 12px;
}
.rank-item .content .img {
    position: relative;
    float: left;
}
.rank-item .content .img a {
    display: inline-block;
}
.rank-item .content .img .cover {
    width: 114px;
    height: 70px;
}
.rank-item .content .img .cover img {
    border-radius: 4px;
}
.img .lazy-img img {
    display: block;
    width: 100%;
    height: 100%;
}

.rank-item .content .info {
    padding-bottom: 20px;
    margin-left: 130px;
    height: 70px;
    position: relative;
}
.rank-item .content .info .title {
    height: 20px;
    line-height: 20px;
    font-weight: 700;
    font-size: 14px;
    color: #222;
}
.rank-item .content .info .detail {
    margin-top: 20px;
    color: #99a2aa;
}

.rank-item .content .info .detail a {
    color: #99a2aa;
}

.rank-item .content .info .pts {
    height: 20px;
    color: #b8c0cc;
    line-height: 20px;
    position: absolute;
    bottom: 40px;
    right: 20px;
    text-align: center;
}
.rank-item .content .info .pts div {
    color: #00a1d6;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 12px;
}
.paihang .post-meta.meta{
	text-align:left;
	float: left;
	position: relative;
}
.paihang .meta .list-category-l {
    position: initial;
    left: 10px;
    bottom: 9px;
}
.paihang .touxiang img{
	width:20px;
	height:20px;
	border-radius: 50%;
	margin-right: 5px;
}
.paihang .data-box{
	float: left;
	position: relative;
	line-height: 20px;
	margin-top: 10px;
	margin-left: 13px;
	}
.paihang .rank-item:nth-child(1) .num1 {
    color: #f783aa;
}
.paihang .rank-item:nth-child(2) .num1 {
    color: #f783aa;
}
.paihang .rank-item:nth-child(3) .num1 {
    color: #f783aa;
}
.paihang-1 .content-area{
    width: 100%;
    padding-left: .25rem;
    padding-right: .25rem;
}
.rank-menu, .rank-menu li {
    text-align: center;
}

.rank-menu li:first-child {
    margin-left: 0;
}
.rank-menu li {
    width: 20%;
    height: 40px;
    font-size: 18px;
    line-height: 25px;
    padding: 0 12px;
    
    display: inline-block;
    cursor: pointer;
}
.rank-menu li .rank-icon.all {
    background-position: -83px -979px;
}
.rank-menu li .text {
    margin-left: 5px;
    font-size: 16px;
}
.rank-menu li .rank-icon.origin {
    background-position: -83px -1041px;
}
.rank-menu li .rank-icon.bangumi {
    background-position: -83px -1107px;
}
.rank-menu li .rank-icon.cinema {
    background-position: -146px -1555px;
}
.rank-menu li .rank-icon.rookie {
    background-position: -83px -1170px;
}
.rank-menu li .rank-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    background: url(../image/icons.png) no-repeat;
}

@media screen and (max-width: 670px)
 {
 	.paihang .data-box {
    display: none;
}
.rank-item .content .info .detail {
   margin-top: 0;
}
.rank-item .content .info .pts {
    display: none;
}
.rank-item .content {
    padding: 20px 0 20px 32px;
    overflow: hidden;
    font-size: 12px;
}
.rank-item .num1 {
    width: 25px;
    font-size: 20px;
}
.rank-item .content .info .title {
    height: 20px;
    font-weight: 400;
    font-size: 12px;
    color: #222;
    height:2.5rem;
    display: -webkit-box;
    word-wrap: break-word;
    word-break: break-all;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
}

@media screen and (max-width: 553px)
 {
 	.rank-menu li .text {
    margin-left: 0;
    font-size: 13px;
}
.rank-menu li {
    width: 20%;
    height: 40px;
    font-size: 25px;
    line-height: 28px;
    padding: 0;
    display: inline-block;
    cursor: pointer;
}
.rank-menu li .rank-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
}
 }
 @media screen and (max-width: 340px)
 {
 	.rank-menu li .rank-icon{
 		display:none
 	}

 	}

.grid-bor .content-card:hover .post-header {
    opacity: 1;
    transition: all 125ms cubic-bezier(0.02, 0.01, 0.47, 1);
}

.content-card .post-header {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 32px;
    line-height: 27px;
    padding: 3px 5px;
    background: rgb(255, 255, 255);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: #333;
    opacity: 0;
    transition: all 125ms cubic-bezier(0.02, 0.01, 0.47, 1);
    margin: 0;
    float: left;
}
.content-card .post-header .pos-a {
    top: 3px;
    right: auto;
    position: relative;
}
.post-header .avatar {
    border-radius: 100%;
    height: 20px;
    width: 20px;
}
.post-header .users {
    color: #000;
    font-size: 12px;
}
.post-header span .timeago {
    float: right;
    color: #333;
    font-size: 12px;
}
.content-card .post-header .pos-a img {
    display: inherit;
}

.icon_remen {
    display: inline-block;
    background-image: url(../image/icons.png);
}

.medal {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 24px;
    pointer-events: none;
    z-index: 1;
}
.medal.golden {
    background-position: -849px -148px;
}

.medal.silvery {
    background-position: -849px -212px;
}

.ecy1_yonghu{
    text-align: center;
    margin: 25px 0 57px 0;
}


ul,li{
list-style: none;;
}

.ecy1-box{
  overflow-x: auto;
  list-style: none;
  white-space:nowrap;
  width: auto;
  margin-bottom: 1.2rem;
}
.ecy1-item{
	width: 288px;
	padding: 5px;
	display: inline-block;
	white-space: initial;
	border-radius: 4px;
	margin-left:9px
	}
@media screen and (max-width: 670px){
.ecy1-item{
background: linear-gradient(to top, #fdfdfd36, 87%, #f5f5f5);

}
}
	.ecy1-item:first-child{
    margin-left:0px;
}
.ecy1_cobg{
	color: #ffffff;
	font-size: 13px;
	position: absolute;
	display: inline-block;
	top: 0;
	left: 0px;
	width: 20px;
	height: 20px;
	background: #f45a8d;
	border-radius: 10px 0 50px;
	line-height: 16px;
	padding-left: 4px;
}

.ecy1-ph{
    margin-bottom: 8px;
    padding-bottom: 10px;
}
.ecy1-title{
	margin-bottom:10px;
  font-weight: 400;
}
.nex_rkpics {
    float: left;
    position: relative;
}
.nex_rkpics img {
    width: 98px;
    height: 68px;
    border-radius: 4px;
}
.clear {
    clear: both;
}

.nex_rkintel .rkintel {
    float: right;
    width: 169px;
    line-height: 19px;
    font-size: 12px;
    font-weight: 400;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-bottom: 29px;
    height: 40px;
}
.nex_rk_btms {
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    padding-left: 93px;
    float: left;
    margin-top: -20px;
}
.nex_rk_btms a {
    font-size: 12px;
    float: left;
    overflow: hidden;
    display: block;
    padding-left: 15px;
    max-width: 90px;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 18px;
    color: #999;
}
.nex_rk_btms span {
     height: 20px;
    line-height: 19px;
    color: #999;
    font-size: 12px;
    overflow: hidden;
    display: block;
    padding-left: 7px;
    float: left;
}
.ecy1-i{
    display: inline-block;
    vertical-align: top;
    background-position: -665px -1113px;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    background-image: url(../image/icons.png);
    margin-right: 2px;

}
.ph-img {
    background-image: url(../image/icons.png);
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 8px;
    vertical-align: middle;
    float: left;
    margin-top: -2px;
    background-position: -141px -590px;
}


.widget ul.team-widget li {
    float: left;
    width: 33.33333333333%;
    border: 0;
    padding: 0;
    margin: 0;
}
.widget ul.team-widget li:nth-child(7){
	width:100%;
	padding: 0 16px;
}
.team-widget li a {
    display: block;
}
.nex_silver_member {
    width: 45px;
    height: 45px;
    margin: 0 auto;
    background: url(../image/5d38fd4103333.png) center no-repeat;
    position: relative;
    z-index: 2;
    background-size: 45px 45px;
    margin-top: 2px;
}
.nex_silver_member img {
    width: 27.5px;
    height: 27.5px;
    border-radius: 100%;
    position: relative;
    z-index: 1;
    top: 8px;
    left: 8.5px;
}
ul.team-widget li a h5 {
    height: 21px;
    line-height: 18px;
    text-align: center;
    font-size: 12px;
    color: #565555;
    font-weight: 500;
    overflow: hidden;
}
.nex_crown_member {
    width: 45px;
    height: 45px;
    margin: 0 auto;
    margin-top: 2px;
    background: url(../image/5d38fd4100f47.png) center no-repeat;
    position: relative;
    z-index: 2;
    background-size: 45px 45px;
}
.nex_crown_member img {
    width: 27.5px;
    height: 27.5px;
    border-radius: 100%;
    position: relative;
    z-index: 1;
    top: 8px;
    left: 8.5px;
}
.nex_broze_member {
    width: 45px;
    height: 45px;
    margin: 0 auto;
    margin-top: 2px;
    background: url(../image/5d38fd4105e89.png) center no-repeat;
    position: relative;
    z-index: 2;
    background-size: 45px 45px;
}
.nex_broze_member img {
    width: 27.5px;
    height: 27.5px;
    border-radius: 100%;
    position: relative;
    z-index: 1;
    top: 8px;
    left: 8.5px;
}
#index_add-17 .pd10{
	padding:2px 0 0 0
	
}
.widget ul.team-widget li h5 i{
	font-size: 21px;
}

.ads-tips {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 12px;
    color: #F4F6F9;
    background-color: rgba(0,0,0,.6);
    padding: 4px 8px;
    line-height: 1;
}
.ads-box img{
	width:100%;
	border-radius: 4px;
}
.ads-box{
  	position: relative;
	margin-bottom: 18px;
}
@media screen and (max-width: 670px){
	.ads-box{
	margin-bottom: 4px;
	padding: 0 7px;
	}
}
.single-top-ads img{
	width:100%
}

.single-top-ads{
	margin-bottom:4px;
}

.topic-user-meta .user-lv{
	line-height: 0;
}
.topic-user-meta span.vip:before{
	top:2px;
}
.topic-user-meta span.vip:after{
	top:2px;
}
.reply-right .user-lv{
	line-height: 0;
}
.reply-right span.vip:before{
	bottom:2px;
}
.reply-right span.vip:after{
	bottom:2px;
}

.comment-vote {
    font-size: 12px;
    color: #ff6fa2;
}
.bubble-content-meta button.bubble-like-button{
color: #ff6fa2;
}

.home-top-progress-wrap {
    display: inline-block;
    position: relative;
    line-height: 20px;
    height: 24px;
}
.home-top-level-head{
    width: 48px;
    height: 24px;
    font-weight: 700;
    color: #ffffff;
    padding-left: 10px;
    font-size: 12px;
    line-height: 23px;
    cursor: default;
    display: inline-block;
    background: url(../image/icons_m_2.57e5263.png) no-repeat;
    background-position: -264px -852px;
    position: relative;
    float: left;
}
.home-top-level-up{
    width: 280px;
    height: 24px;
    line-height: 24px;
    background-color: #e5e9ef;
    
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: inline-block;
    text-indent: -9999px;
    text-align: center;
    bottom: 0;
    float: left;
    position: absolute;
}
.home-top-level-upgo{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ff905a;
    width: 0;
    height: 24px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
    border-radius: 0 4px 4px 0;
    float: left;
}
.home-top-level-number{
    height: 24px;
    color: #ffffff;
    margin-left: 8px;
    font-size: 12px;
    line-height: 24px;
    cursor: default;
    float: right;
    left: 74%;
    position: relative;
}
.num-icon{
    margin: 0 2px;
}
.now-num{
    color: #fff;
}