#ecp-agreement-wrap,
#ecp-agreement-wrap div,
#ecp-agreement-wrap input,
#ecp-agreement-wrap a,
#ecp-agreement-wrap p,
#ecp-agreement-wrap img {
  box-sizing: border-box;
  outline: none;
  list-style: none;
}
#ecp-agreement-wrap main {
  display: block;
}
#ecp-agreement-wrap h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
#ecp-agreement-wrap hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
#ecp-agreement-wrap pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
#ecp-agreement-wrap a {
  background-color: transparent;
}
#ecp-agreement-wrap abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
#ecp-agreement-wrap b,
#ecp-agreement-wrap strong {
  font-weight: bolder;
}
#ecp-agreement-wrap code,
#ecp-agreement-wrap kbd,
#ecp-agreement-wrap samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
#ecp-agreement-wrap small {
  font-size: 80%;
}
#ecp-agreement-wrap sub,
#ecp-agreement-wrap sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
#ecp-agreement-wrap sub {
  bottom: -0.25em;
}
#ecp-agreement-wrap sup {
  top: -0.5em;
}
#ecp-agreement-wrap img {
  border-style: none;
}
#ecp-agreement-wrap button,
#ecp-agreement-wrap optgroup,
#ecp-agreement-wrap select,
#ecp-agreement-wrap textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
#ecp-agreement-wrap button,
#ecp-agreement-wrap input {
  overflow: visible;
}
#ecp-agreement-wrap button,
#ecp-agreement-wrap select {
  text-transform: none;
}
#ecp-agreement-wrap [type="button"],
#ecp-agreement-wrap [type="reset"],
#ecp-agreement-wrap [type="submit"],
#ecp-agreement-wrap button {
  -webkit-appearance: button;
}
#ecp-agreement-wrap [type="button"]::-moz-focus-inner,
#ecp-agreement-wrap [type="reset"]::-moz-focus-inner,
#ecp-agreement-wrap [type="submit"]::-moz-focus-inner,
#ecp-agreement-wrap button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
#ecp-agreement-wrap [type="button"]:-moz-focusring,
#ecp-agreement-wrap [type="reset"]:-moz-focusring,
#ecp-agreement-wrap [type="submit"]:-moz-focusring,
#ecp-agreement-wrap button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
#ecp-agreement-wrap fieldset {
  padding: 0.35em 0.75em 0.625em;
}
#ecp-agreement-wrap legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
#ecp-agreement-wrap progress {
  vertical-align: baseline;
}
#ecp-agreement-wrap textarea {
  overflow: auto;
}
#ecp-agreement-wrap [type="checkbox"],
#ecp-agreement-wrap [type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
#ecp-agreement-wrap [type="number"]::-webkit-inner-spin-button,
#ecp-agreement-wrap [type="number"]::-webkit-outer-spin-button {
  height: auto;
}
#ecp-agreement-wrap [type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
#ecp-agreement-wrap [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
#ecp-agreement-wrap details {
  display: block;
}
#ecp-agreement-wrap summary {
  display: list-item;
}
#ecp-agreement-wrap template {
  display: none;
}
[hidden] {
  display: none;
}
/*# sourceMappingURL=normalize.min.css.map */
