/* CSS Document */
* {
    font-style: normal;
    list-style: none;
    border: 0;
    outline: none;
    margin: 0;
    padding: 0;
    font-family: "å¾®è½¯é›…é»‘";
}

body {
    background: #fff;
}

.login {
    width: 1080px;
    height: 500px;
    margin: 80px auto 40px auto;
    font-size: 12px;
    color: #666;
}

a:link, a:visited {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #DF2F2F;
    text-decoration: none;
}

.login-img {
    float: left;
    width: 690px;
    height: 430px;
}

.login-box {
    float: right;
    width: 350px;
    border: solid 1px #eee\9;
    background: #fff;
    box-shadow: 0 0 12px #ddd;
    position: relative;
}

:root .login-box {
    border: none;
}

.login-cont {
    padding: 20px 25px 25px 25px;
    width: 300px;
    min-height: 240px;
}

    .login-cont dt {
        line-height: 30px;
        font-size: 16px;
        height: 30px;
    }

        .login-cont dt span {
            float: left;
            width: 150px;
            text-align: center;
            font-weight: bold;
            cursor: pointer;
        }

            .login-cont dt span.cur {
                color: #DF2F2F;
            }

    .login-cont dd {
        line-height: 40px;
        position: relative;
        padding-top: 1px;
    }

        .login-cont dd p {
            height: 40px;
            width: 300px;
            background: #f0f0f0;
            margin-top: 20px;
        }

            .login-cont dd p i {
                float: left;
                width: 46px;
                height: 22px;
                margin: 9px 0;
                border-right: solid 1px #e0e0e0;
                background: url(../images/icon-login.png) no-repeat;
            }

            .login-cont dd p input {
                float: left;
                height: 40px;
                background: none;
                line-height: 40px;
                font-size: 14px;
                padding: 0 10px;
                width: 233px;
            }

            .login-cont dd p em {
                float: left;
                background: #fff;
                width: 123px;
            }

            .login-cont dd p button {
                margin-left: 7px;
                height: 40px;
                width: 116px;
                font-size: 14px;
                color: #666;
                background: #fff;
                border: solid 1px #f0f0f0;
                cursor: pointer;
            }

            .login-cont dd p.login-member i {
                background-position: center top;
            }

            .login-cont dd p.login-number i {
                background-position: center -44px;
            }

            .login-cont dd p.login-number input {
                width: 110px;
            }

            .login-cont dd p.login-password i {
                background-position: center -22px;
            }

        .login-cont dd font {
            display: block;
            height: 15px;
            margin-top: 20px;
            line-height: 15px;
            font-size: 14px;
            text-align: right;
        }

            .login-cont dd font label {
                float: left;
            }

            .login-cont dd font input {
                width: 14px;
                height: 14px;
                float: left;
                margin: 1px 6px 0 0;
            }

            .login-cont dd font a {
                margin-left: 15px;
            }

                .login-cont dd font a.red {
                    color: #DF2F2F;
                }

            .login-cont dd font.error {
                position: absolute;
                top: -2px;
                left: 0;
                width: 295px;
                height: 22px;
                margin: 0;
                padding-left: 5px;
                line-height: 22px;
                text-align: left;
                font-size: 12px;
                color: #DF2F2F;
                background: #fff8e5;
            }
        /*1117*/
        .login-cont dd span {
            display: block;
            height: 45px;
            margin-top: 20px;
        }

            .login-cont dd span button {
                width: 300px;
                padding-left: 10px;
                height: 40px;
                background: #DF2F2F;
                line-height: 40px;
                color: #fff;
                font-size: 18px;
                letter-spacing: 10px;
                cursor: pointer;
            }

.slide-verify {
    margin-top: 20px;
    line-height: 40px !important;
    height: 40px !important;
    background-color: #f0f0f0 !important;
    font-size: 14px;
}

    .slide-verify .drag-handler {
        height: 38px !important;
        width: 45px !important;
        border: solid 1px #e0e0e0 !important;
    }

    .slide-verify .drag-bg {
        height: 40px !important;
    }

.code-show {
    position: absolute;
    right: 4px;
    top: 4px;
    width: 40px;
    height: 40px;
    background: url(../images/icon-code.png);
    cursor: pointer;
    z-index: 2;
}

    .code-show.no2 {
        top: 54px;
        right: 24px;
    }

    .code-show i, .code-show em {
        position: absolute;
        right: 45px;
        top: 0;
        background: #FFEAEA;
        color: #F3858B;
        padding: 0 6px;
        height: 20px;
        line-height: 20px;
        border-radius: 3px;
        text-align: center;
        display: none;
        white-space: nowrap;
        font-size: 12px;
    }
    /*1117*/
    .code-show:hover i {
        display: block;
    }

    .code-show.cur {
        background-position: left -40px;
    }

        .code-show.cur:hover em {
            display: block;
        }

.login-code {
    padding: 20px 0 25px 0;
    width: 350px;
    background: #fff;
    display: none;
    z-index: 1;
}
    /*1117*/
    .login-code dt {
        line-height: 30px;
        font-size: 16px;
        height: 30px;
        color: #DF2F2F;
        text-align: center;
        font-weight: bold;
    }

        .login-code dt.no2 {
            margin-top: 21px;
        }

    .login-code dd {
        text-align: center;
    }

        .login-code dd span {
            display: inline-block;
            height: 157px;
            text-align: center;
            margin: 25px auto 20px auto;
        }

        .login-code dd em {
            display: inline-block;
            width: 152px;
            height: 152px;
            margin-top: 5px;
            vertical-align: top;
            position: relative;
        }

        .login-code dd i {
            display: none;
            width: 164px;
            height: 155px;
            background: url(../images/img-code.png);
            vertical-align: top;
        }

        .login-code dd font {
            position: absolute;
            left: 0;
            top: 0;
            width: 152px;
            height: 100px;
            background: rgba(0,0,0,0.6);
            color: #fff;
            font-size: 16px;
            line-height: 28px;
            padding-top: 52px;
        }

            .login-code dd font a {
                display: block;
                width: 68px;
                height: 28px;
                font-size: 14px;
                background: #DF2F2F;
                color: #fff !important;
                margin: 10px auto;
            }

        .login-code dd cite {
            display: inline-block;
            width: 70px;
            height: 70px;
            background: url(../images/ok-code.png) no-repeat;
            margin-top: 40px;
        }

        .login-code dd p {
            font-size: 14px;
            line-height: 20px;
        }

        .login-code dd span:hover i {
            display: inline-block;
        }

.login-third {
    padding: 10px 25px;
    width: 300px;
    height: 105px;
}

    .login-third dt {
        border-top: solid 1px #e6e6e6;
        line-height: 21px;
        text-align: center;
    }

        .login-third dt span {
            display: block;
            background: #fff;
            margin: -11px auto 0 auto;
            font-size: 13px;
            width: 133px;
            color: #999;
        }

    .login-third dd span {
        display: block;
        height: 24px;
        line-height: 24px;
        margin: 20px 0;
        text-align: center
    }

    .login-third dd i {
        display: inline-block;
        width: 55px;
        margin: 0 8px;
    }

        .login-third dd i a {
            display: block;
            padding-left: 30px;
            height: 24px;
            background: url(../images/icon-third.png) no-repeat;
        }

        .login-third dd i.third-qq a {
            background-position: left top;
        }

        .login-third dd i.third-wx a {
            background-position: left -24px;
        }

        .login-third dd i.third-wb a {
            background-position: left -48px;
        }

        .login-third dd i.third-bd a {
            background-position: left -72px;
        }

    .login-third dd p {
        font-size: 13px;
        text-align: center;
        line-height: 30px;
    }

        .login-third dd p a {
            margin: 0 15px;
        }

.floatlayer22 {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 165px;
    z-index: 1000002
}

.flbox22 {
    width: 100%;
    height: 122px;
    background: url(../images/icon012901.png) repeat-x;
    position: absolute;
    bottom: 0px;
    left: 0;
}

    .flbox22 .connr {
        width: 770px;
        margin: 0 auto;
        position: relative;
        overflow: hidden
    }

        .flbox22 .connr .close {
            float: right;
            width: 22px;
            height: 22px;
            position: absolute;
            top: 15px;
            right: 0px;
            display: inline-block;
            background: url(../images/ll_close2.png) no-repeat;
        }

        .flbox22 .connr .s1 {
            float: left;
            width: 107px;
            padding-top: 3px;
        }

        .flbox22 .connr .s2 {
            float: left;
            width: 280px;
            margin: 33px 70px 0 30px;
            text-align: center
        }

            .flbox22 .connr .s2 h2 {
                font-size: 20px;
                line-height: 30px;
                color: #333;
            }

                .flbox22 .connr .s2 h2 span {
                    color: #df2f30
                }

            .flbox22 .connr .s2 p {
                font-size: 16px;
                color: #666;
                margin-top: 8px;
            }

                .flbox22 .connr .s2 p span {
                    color: #df2f30;
                    font-size: 20px;
                }

        .flbox22 .connr .s3 {
            float: left;
            margin: 15px 0 0 0;
        }

            .flbox22 .connr .s3 img {
                float: left;
                width: 92px;
                height: 92px;
                display: block;
                margin: 0 auto 5px
            }

            .flbox22 .connr .s3 p {
                float: left;
                margin-left: 20px;
                font-size: 14px;
                color: #666;
                padding-top: 35px;
            }

                .flbox22 .connr .s3 p span {
                    color: #df2f30
                }

/*0110*/
.loginNew {
    width: 100%;
    height: 570px;
    margin: 0 auto;
    font-size: 12px;
    color: #666;
    position: relative;
}

.logindiv {
    width: 350px;
    border: solid 1px #eee\9;
    background: #fff;
    box-shadow: 0 0 12px #ddd;
    position: absolute;
    top: 60px;
    left: 50%;
    margin-left: 185px;
    z-index: 888
}

.banner_show {
    width: 100%;
    text-align: center;
    height: 570px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.bannger_inbox {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.banner_show .gg {
    width: 31px;
    height: 18px;
    line-height: 18px;
    position: absolute;
    left: 10%;
    top: 60px;
    z-index: 88;
    color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#11000000', endColorstr='#11000000');
    background-color: rgba(0,0,0,0.1);
    border-radius: 3px;
    display: block;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
}

.banner_pre_next {
    position: relative;
    z-index: 335;
    top: 251px;
    margin: 0 auto;
    _width: 100%
}

    .banner_pre_next a {
        width: 38px;
        height: 55px;
        background: url(../images/prejt.png) no-repeat;
        text-indent: -999em;
    }

    .banner_pre_next .banner_btn_left {
        position: absolute;
        left: 13%;
        background-position: 0px 0px;
    }

        .banner_pre_next .banner_btn_left:hover {
            background-position: -76px 0px;
        }

    .banner_pre_next .banner_btn_right {
        position: absolute;
        left: 55%;
        background-position: -38px 0px;
    }

        .banner_pre_next .banner_btn_right:hover {
            background-position: -114px 0px;
        }

.banner_ctr {
    position: absolute;
    bottom: 80px;
    left: 17%;
    z-index: 333;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px
}

    .banner_ctr span {
        text-align: center;
        width: 8px;
        height: 8px;
        float: left;
        margin-right: 7px;
        cursor: pointer;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        display: block;
        background-color: #fff;
    }

        .banner_ctr span.current {
            background-color: #df2f2f;
        }

/*1117è°ƒæ•´*/
.floatAlert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#66000000', endColorstr='#66000000');
    background-color: rgba(0,0,0,0.6);
    z-index: 1000;
    display: none
}

.loginbox a:link, .login a:visited {
    color: #666;
    text-decoration: none;
}

.loginbox a:hover {
    color: #DF2F2F;
    text-decoration: none;
}

.loginbox {
    width: 350px;
    border: solid 1px #eee\9;
    background: #fff;
    border: solid 1px #eee9;
    position: absolute;
    top: 100px;
    left: 50%;
    margin: 0px 0 0 -175px;
    z-index: 100000;
    display: none
}
/*1231*/
.logintit {
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    color: #666;
    border-bottom: 1px solid #e6e6e6;
    padding: 0px 0 12px 0;
    margin-bottom: 20px;
}

    .logintit #close-x {
        float: right;
        width: 12px;
        height: 12px;
        background: url(../images/closeX.png) no-repeat;
        display: block
    }

.loginbox-center {
    top: 50%;
    margin-top: -160px
}

.login-other {
    margin: -4px 25px 30px 25px;
    color: #999;
    font-size: 13px;
}

    .login-other span {
        float: right
    }

    .login-other a, .login-other a:hover, .login-other a:link {
        color: #999;
    }

.iframebox {
    width: 350px;
    height: 452px;
    border: solid 1px #eee\9;
    background: #fff;
    box-shadow: 0 0 12px #ddd;
    position: absolute;
    top: 100px;
    left: 50%;
    margin: 0px 0 0 -175px
}

.soniframe {
    width: 350px;
    border: solid 1px #eee\9;
    background: #fff;
    position: relative;
    overflow: hidden;
}
/*0419*/
.login-other {
    line-height: 24px;
    margin-bottom: 50px;
    margin-top: -10px;
}

    .login-other .third {
        float: left;
        height: 24px;
    }

        .login-other .third i {
            display: inline-block;
            width: 58px;
            margin: 0 8px;
        }

            .login-other .third i a {
                display: block;
                padding-left: 30px;
                height: 24px;
                line-height: 24px;
                background: url(../images/icon-third.png) no-repeat;
            }

            .login-other .third i.third-qq a {
                background-position: left top;
            }

            .login-other .third i.third-wx a {
                background-position: left -24px;
            }
/*1231*/
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
}

.clearfix {
    zoom: 1;
    clear: both;
}

.login-other {
    margin-bottom: 0px;
    overflow: hidden
}

.loginbox p.p1 {
    font-size: 12px;
    text-align: center;
    line-height: 16px;
    margin: 20px 0 25px;
    overflow: hidden;
    color: #666;
    position: relative
}

    .loginbox p.p1 a {
        margin: 0;
        color: #666
    }

        .loginbox p.p1 a:hover {
            text-decoration: underline
        }

.login-third p.p1 {
    font-size: 12px;
    text-align: center;
    line-height: 16px;
    margin: 20px 0 25px;
    overflow: hidden;
    color: #666;
    position: relative
}

    .login-third p.p1 a {
        margin: 0;
        color: #666
    }

        .login-third p.p1 a:hover {
            text-decoration: underline
        }

.login-cont dd p {
    position: relative
}

.icon-m {
    position: absolute;
    top: 12px;
    left: 272px;
    width: 16px;
    height: 16px;
    z-index: 999
}

    .icon-m em.yz {
        width: 16px;
        height: 16px;
        margin-top: 0px;
        background: url(../images/icon_p1.png) no-repeat;
        display: block
    }

    .icon-m.cur em {
        background: url(../images/icon_p2.png) no-repeat;
    }
/*åˆ’å—éªŒè¯å¼¹çª—*/
.block_yz .slide-verify {
    margin-top: 5px;
}

.block_yz .fang-recaptcha.fang-recaptcha-float .img-content {
    position: absolute;
    bottom: 40px;
    opacity: 1;
    display: block;
}

.block_yz .slide-verify .drag-bg {
    box-sizing: border-box;
}

.block_yz .fang-recaptcha.fang-recaptcha-float .img-content {
    visibility: visible;
}

.block_yz .fang-recaptcha .img-content {
    visibility: visible;
    transition: 0;
}

.img_sx {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    background: url(../images/img_sx.png) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}
