html,
body {
  overflow-x: hidden;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  background-color: #F6F9FB;
}
a {
  color: #0366F1;
}
a:hover,
a:focus {
  color: #0366F1;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb:window-inactive {
  display: none;
}
::-webkit-scrollbar-button:vertical {
  display: none;
}
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.05);
}
::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.15);
}
::-webkit-scrollbar-thumb:vertical:hover {
  background-color: rgba(0, 0, 0, 0.35);
}
::-webkit-scrollbar-thumb:vertical:active {
  background-color: rgba(0, 0, 0, 0.45);
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.row.gutter-50 {
  margin-left: -25px;
  margin-right: -25px;
}
.row.gutter-50 > [class*="col-"] {
  padding-left: 25px;
  padding-right: 25px;
}
.row.gutter-40 {
  margin-left: -20px;
  margin-right: -20px;
}
.row.gutter-40 > [class*="col-"] {
  padding-left: 20px;
  padding-right: 20px;
}
.row.gutter-30 {
  margin-left: -15px;
  margin-right: -15px;
}
.row.gutter-30 > [class*="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}
.row.gutter-25 {
  margin-left: -12.5px;
  margin-right: -12.5px;
}
.row.gutter-25 > [class*="col-"] {
  padding-left: 12.5px;
  padding-right: 12.5px;
}
.row.gutter-20 {
  margin-left: -10px;
  margin-right: -10px;
}
.row.gutter-20 > [class*="col-"] {
  padding-left: 10px;
  padding-right: 10px;
}
.row.gutter-15 {
  margin-left: -7.5px;
  margin-right: -7.5px;
}
.row.gutter-15 > [class*="col-"] {
  padding-left: 7.5px;
  padding-right: 7.5px;
}
.row.gutter-0 {
  margin-left: 0px;
  margin-right: 0px;
}
.row.gutter-0 > [class*="col-"] {
  padding-left: 0px;
  padding-right: 0px;
}
.well {
  border: 0;
}
.text-primary {
  color: #0366F1 !important;
}
.text-danger {
  color: #ED5B56 !important;
}
.text-warning {
  color: #FFB433 !important;
}
.text-success {
  color: #27AD5D !important;
}
.text-muted {
  color: #777777 !important;
}
.btn,
.form-control,
.thumbnail,
.well,
.alert,
.breadcrumb {
  border-radius: 2px;
  box-shadow: none !important;
  outline: 0 !important;
}
.breadcrumb {
  padding: 16px 0;
}
.btn.btn-link {
  color: #0366F1;
}
.btn.btn-primary {
  border-color: #0366F1;
  background-color: #0366F1;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus {
  border-color: #0366F1;
  background-color: #0366F1;
}
.btn.btn-primary.btn-primary-outline {
  border-color: #0366F1;
  color: #0366F1;
  background-color: transparent;
}
.btn.btn-primary.btn-primary-outline:hover,
.btn.btn-primary.btn-primary-outline:focus {
  border-color: #0366F1;
  background-color: #0366F1;
  color: #fff;
}
.btn.btn-success {
  border-color: #27AD5D;
  background-color: #27AD5D;
}
.btn.btn-success:hover,
.btn.btn-success:focus {
  border-color: #27AD5D;
  background-color: #27AD5D;
}
.btn.btn-warning {
  border-color: #FFB433;
  background-color: #FFB433;
}
.btn.btn-warning:hover,
.btn.btn-warning:focus {
  border-color: #FFB433;
  background-color: #FFB433;
}
.btn.btn-danger {
  border-color: #ED5B56;
  background-color: #ED5B56;
}
.btn.btn-danger:hover,
.btn.btn-danger:focus {
  border-color: #ED5B56;
  background-color: #ED5B56;
}
.form-control {
  border-radius: 0;
  box-shadow: none !important;
  border-color: #E2E2E2;
}
.breadcrumb {
  margin: 0;
  background-color: transparent;
}
.breadcrumb li + li:before {
  content: ">";
}
.breadcrumb > li > a {
  color: #666;
}
.input-group .form-control,
.input-group .input-group-addon,
.input-group .input-group-btn {
  border-radius: 0;
}
.input-group .input-group-btn > .btn {
  border-radius: 0;
}
.input-group .input-group-addon {
  border-color: #E2E2E2;
  background-color: #f8f9fb;
}
.nav-pills > li > a {
  color: inherit;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #0366F1;
  color: #fff;
  border-color: transparent;
}
.nav-lines {
  border-bottom: 1px solid #ddd;
}
.nav-lines::before,
.nav-lines::after {
  display: table;
  content: "";
}
.nav-lines::after {
  clear: both;
}
.nav-lines > li {
  position: relative;
  float: left;
}
.nav-lines > li > a {
  color: inherit;
  background-color: transparent !important;
}
.nav-lines > li.active::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  border-bottom: 3px solid #0366F1;
}
.nav-lines > li.active > a,
.nav-lines > li.active > a:hover,
.nav-lines > li.active > a:focus {
  color: #0366F1;
  font-weight: 600;
}
.table-responsive {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-height: 0.01%;
  margin: 0;
}
.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td {
  border-bottom-width: 1px;
  vertical-align: middle;
  padding: 12px 16px;
  border-color: #eaebee;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f8f9fb;
}
.table > tbody > tr > th {
  font-weight: normal;
}
.table > thead > tr.active > th {
  background-color: #f8f9fb;
}
.table .btn-link + .btn-link {
  margin-left: 12px;
}
.table .btn.btn-link {
  padding: 0;
  border: 0;
}
.table.table-bordered {
  border-color: #eaebee;
}
.table.table-bordered > thead > tr > th,
.table.table-bordered > tbody > tr > th,
.table.table-bordered > tfoot > tr > th,
.table.table-bordered > thead > tr > td,
.table.table-bordered > tbody > tr > td,
.table.table-bordered > tfoot > tr > td {
  border-color: #eaebee;
}
.table.table-grid > thead > tr > th,
.table.table-grid > tbody > tr > th,
.table.table-grid > tfoot > tr > th,
.table.table-grid > thead > tr > td,
.table.table-grid > tbody > tr > td,
.table.table-grid > tfoot > tr > td {
  border: 0;
}
.table.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: transparent;
}
.table.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #f8f9fb;
}
.table.table-hover > tbody > tr:hover {
  background-color: #f8f9fb;
}
.table.table-bordered.table-horizontal > thead > tr > th,
.table.table-bordered.table-horizontal > thead > tr > td,
.table.table-bordered.table-horizontal > tbody > tr > th,
.table.table-bordered.table-horizontal > tbody > tr > td {
  border-left: 0;
  border-right: 0;
}
.label {
  font-weight: normal;
  border-radius: 2px;
  padding: 0.5em 1em;
  display: inline-block;
}
.label.label-light.label-primary {
  background-color: #E8F2FF;
  color: #0366F1;
}
.label.label-light.label-success {
  background-color: #F0F9F0;
  color: #6EB36F;
}
.label.label-light.label-danger {
  background-color: #FFF3F3;
  color: #E77272;
}
.label.label-light.label-warning {
  background-color: #FFFAEA;
  color: #D8AA08;
}
.modal .modal-content {
  padding: 25px 50px;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}
.modal .modal-header {
  border-bottom: 1px solid #EAEBEE;
}
.modal .modal-title {
  font-weight: bold;
}
.modal .modal-close {
  top: 0;
  right: 0;
  position: absolute;
  height: 55px;
  line-height: 55px;
  width: 55px;
  text-align: center;
  background: #0366F1 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAItJREFUeNqs0+sOwBAMhuF67/+ebUtkYaOtqn9OT9BPqXcTkSJ5rdLAmgU+Hq2TAb83phs8gYcn5DMZgX81YbJoB54WmcViD7xMDcomDVZjiHGaGWzmGse79bDro+AsSPGCO2jdSQWbsXHBBGJjwkRyaMFEcmjBBEEV5gBcwhyCU5gE8AeTBA7wJcAAH8ksJn8W4HgAAAAASUVORK5CYII=") center center no-repeat;
  color: #fff;
  border: 0;
  outline: 0;
}
.modal .modal-header {
  padding: 16px 24px;
}
.modal .modal-body {
  padding: 24px;
}
.pagination {
  margin-top: 0;
  margin-bottom: 0;
}
.pagination > li > a {
  border-radius: 0 !important;
  margin: 0 3px;
  background-color: #fff;
  border-color: #D7DBE0;
  color: #333;
  padding: 0;
  height: 34px;
  width: 34px;
  line-height: 32px;
  text-align: center;
  outline: 0 !important;
}
.pagination > li > a:hover {
  background-color: #fff;
}
.pagination > li.active > a {
  background-color: #0366F1;
  border-color: #0366F1;
}
.pagination > li.first > a,
.pagination > li.prev > a,
.pagination > li.next > a,
.pagination > li.last > a {
  text-indent: -99999em;
}
.pagination > li.first > a {
  background: #F6F9FB url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAANCAYAAAB/9ZQ7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFBJREFUeNqM0YsJACAIBNB0JfefrRISxF8nBB28g0gSkdXMvod8ZhRqZhTqhVEY8Qg9/kLDEDRMD9jEnJ4BFXgAqRC/bixUS2kL3brLwhFgAPIOGrIm00iCAAAAAElFTkSuQmCC") center center no-repeat;
}
.pagination > li.prev > a {
  background: #F6F9FB url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAANCAYAAABlyXS1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAEhJREFUeNp00EsKACAIRVF1S+5/bZWR4e8FQnDuoGRVJXCWIDjDgsAugqBigogNHEdw5BeMSCiID2pB/UoKpiX8AK3vBluAAQBm9g2yfgTCuwAAAABJRU5ErkJggg==") center center no-repeat;
}
.pagination > li.next > a {
  background: #F6F9FB url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAANCAYAAABlyXS1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAEhJREFUeNp0kFEKACAIQ+eu5P3PVhQhVtu+hPdQXGTmABAQ4QHDQTiBbf4EPvIlUJwqQcESHNzv0QG19iqEDnQoK6QDK1OAAQCATw2z4IIrZwAAAABJRU5ErkJggg==") center center no-repeat;
}
.pagination > li.last > a {
  background: #F6F9FB url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAANCAYAAAB/9ZQ7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFJJREFUeNqMkdsJADAIA9Os5P6ztRRKH1Yl+VPvQLSZWQfQcOLrHa5Bv3q+fmCoAgvgE+jkUmCwWipEcCpkcHhOqmC0RvkgquANSy+nCs4MAQYAJDYas27+FCsAAAAASUVORK5CYII=") center center no-repeat;
}
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
