.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.container {
  width: 1230px !important;
}
.header {
  padding-top: 24px;
  position: relative;
  height: 160px;
  background: #0366F1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  /*z-index: 1023;*/
}
.header .header-brand {
  width: 570px;
  display: block;
  height: 80px;
  background: url(../img/global/logo.png) center center no-repeat;
  background-size: cover;
}
.header .header-search {
  float: right;
  margin-top: 22px;
  width: 250px;
}
.header .header-search .input-group {
  background-color: rgba(255, 255, 255, 0.15);
}
.header .header-search .input-group:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
.header .header-search .input-group .form-control,
.header .header-search .input-group .btn {
  background: none;
  border: 0;
  height: 36px;
  box-shadow: none !important;
  color: #fff;
}
.header .header-search .input-group .form-control::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}
.header .header-search .input-group .form-control:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.header .header-search .input-group .form-control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.header .header-search .input-group .btn {
  width: 50px;
  background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABXUlEQVQ4T6XTv2/PURTG8dfDZBDtH2CRLiJNpInUiFgkBkkRHWytqX+AgQiRjl3aSDD5MTGRkDAoRk1ICBOjiElCJAxcuc39Nh+fanzFWe5wz3mfc/I8J/4z0q8vpRzGKUxiG97jARaSvO3nrwFKKVtwHVO434o+YQem2zuX5GoX0gXcxn4cTfK4m1RK2YwzOIcTSW4N/lcBbey7ONAv7oGWcAxjSb7UvwGgFm9KUvffMEopo/iA2SQ3uoCPuJhk8W+ilFKe4mWSuS7gG2aS3BwCcAefk5zsAt7hWpILQwBe4V6S013AJezDeJIfG0FKKbvxHAeTPOoCxvAa80nO/wnQfPIEP5Ps/U3GJuUsLqNOczZJNdFqtM5XsAcTSV6sA7TE46hKVAs/w8CJu7CC7ah2PpTk69oKPbNsxZF2CyPtFh6i7rwTy23dCvm+7piGUGEc1cpTSd78M6Df4BeoLoARiymSGgAAAABJRU5ErkJggg==") center center no-repeat;
}
.header .header-link {
  margin-top: 22px;
  float: right;
  margin-left: 40px;
}
.header .header-link a + a {
  margin-left: 24px;
}
.header .header-link a {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  color: #fff;
}
.header .header-navigation .nav > li {
  float: left;
  position: relative;
}
.header .header-navigation .nav > li > a {
  display: block;
  padding: 0 36px;
  color: #fff;
  font-size: 16px;
  height: 56px;
  line-height: 56px;
}
.header .header-navigation .nav > li > a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.header .header-navigation .nav > li > a:focus {
  background-color: transparent;
}
.header .header-navigation .nav > li.active > a {
  font-weight: 600;
}
.header .header-navigation .nav > li.active:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 2px solid #fff;
}
.tooler {
  position: fixed;
  right: 15px;
  top: 30%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  width: 70px;
  z-index: 1024;
}
.tooler > li > a {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #666;
  text-decoration: none;
}
.tooler > li > a i {
  display: inline-block;
  height: 24px;
  width: 24px;
  background-color: #f80;
}
.tooler > li > a span {
  display: block;
}
.tooler > li > a .nc-icon-outline.emoticons_robot {
  background: url(../img/global/tooler-icon-robot.png) center center no-repeat;
}
.tooler > li > a .nc-icon-outline.ui-3_chat-46 {
  background: url(../img/global/tooler-icon-message.png) center center no-repeat;
}
.tooler > li > a:hover {
  background-color: #0366F1;
  color: #fff;
}
.tooler > li > a:hover .nc-icon-outline.emoticons_robot {
  background: url(../img/global/tooler-icon-robot-h.png) center center no-repeat;
}
.tooler > li > a:hover .nc-icon-outline.ui-3_chat-46 {
  background: url(../img/global/tooler-icon-message-h.png) center center no-repeat;
}
.main {
  background-color: #FAFAFB;
}
.footer {
  padding-top: 24px;
  padding-bottom: 16px;
  background-color: #565a5d;
  text-align: center;
  color: #9b9e9f;
}
.page {
  min-height: 800px;
}
.page .page-header {
  padding: 16px 0;
  margin: 0;
  border: 0;
}
.page .page-header + .page-body {
  padding-top: 0;
}
.btn.btn-file {
  position: relative;
  overflow: hidden;
}
.btn.btn-file input {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.section {
  box-shadow: none;
  background-color: #fff;
}
.section .section-header {
  padding: 15px 0;
  border-bottom: 2px solid #d8d8d8;
}
.section .section-title {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
.section .section-title .nav-tabs {
  margin: -15px;
  border: 0;
}
.section .section-title .nav-tabs > li + li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 12px;
  bottom: 12px;
  border-left: 1px solid #ddd;
}
.section .section-title .nav-tabs > li {
  margin-bottom: 0;
}
.section .section-title .nav-tabs > li > a {
  padding: 10px 30px;
  margin-right: 0;
  border: 0;
  background: none;
  color: #333;
}
.section .section-title .nav-tabs > li.active > a {
  color: #0366F1;
}
.section .section-title .nav-tabs > li.active:after {
  content: "";
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: -2px;
  border-bottom: 4px solid #0366F1;
}
.section .section-body {
  padding: 20px 0;
}
.section .section-table .section-table-header {
  margin-bottom: 20px;
}
.section .section-table .section-table-header form {
  margin: -8px;
}
.section .section-table .section-table-header form .table-grid {
  margin-bottom: 0;
}
.section .section-table .section-table-header form .table-grid th,
.section .section-table .section-table-header form .table-grid td {
  padding: 8px;
  white-space: nowrap;
}
.section .section-table .section-table-header form .table-grid th {
  text-align: right;
}
.section .table {
  margin-bottom: 0;
}
.region-picker .region-picker-form .input-group .input-group-addon {
  min-width: 60px;
  border-right: 0;
  background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAVCAYAAABPPm7SAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAY1JREFUeNqUVL1Lw0AUv0skiyBY7OLg7CLStITi7FwEP+pejQ662HYUBP8JodR2FFRw0clVCCQpGHcFEScnQYciib9XrnIml5I8eLl3H7/3/cJZjBzHmTEMYy2KotUwDBfoTNO0V875/XA4vKlWq5/yey5vPM/bx3IKnmNq+gAfVyqVs38KYI37vt+B2GDZqFsul3fhVaTRDuCTHGCihsAwDrcXsT6Bp1g++gEvkQetFHAHoZnEJCvuCdOiTy1+g9iuEaMtHdlwuQBl67GnNfKgqNB+mfGsqKmCg6VClrNRj9Cd4rwZBMHseCPkpsoWVcGHYCou38EXQt4Gzyty5VMSuykKCHA0qY4I65xC6EN4Y/mJMH0Nff2t63o7LxpG24Tl0iBRmTYy4q8A3hxXYUQY1T0szxnAL+JtcpwHg8Ey/gEPEKdTwF/I/Aq6NJD74I9M03xEPrbEoKiGpy6DEwqISqXSHazY4FDOGTyzEfetqhMTBCs9ZPlQdCnxgWVZvdyFRmV2XNed+KP5FWAAP1SVOTjy7z8AAAAASUVORK5CYII=") center center no-repeat;
}
.region-picker .region-picker-form .input-group .form-control {
  padding-left: 0;
  border-left: 0;
  border-right: 0;
  box-shadow: none !important;
  background-color: #fff;
  border-color: #ccc;
  font-size: 16px;
}
.region-picker .region-picker-form .input-group .btn {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  background-color: #0366F1;
  border-color: #0366F1;
}
.region-picker .region-picker-modal .modal-dialog {
  width: 1000px;
}
.region-picker .region-picker-selector .region-picker-selector-cell:before,
.region-picker .region-picker-selector .region-picker-selector-cell:after {
  display: table;
  content: "";
}
.region-picker .region-picker-selector .region-picker-selector-cell:after {
  clear: both;
}
.region-picker .region-picker-selector .region-picker-selector-title,
.region-picker .region-picker-selector .region-picker-selector-content {
  position: relative;
  min-height: 1px;
  float: left;
}
.region-picker .region-picker-selector .region-picker-selector-title > a,
.region-picker .region-picker-selector .region-picker-selector-content > a {
  display: inline-block;
  padding: 10px 15px;
  color: #666;
  white-space: nowrap;
  text-decoration: none;
}
.region-picker .region-picker-selector .region-picker-selector-title > a:hover,
.region-picker .region-picker-selector .region-picker-selector-content > a:hover,
.region-picker .region-picker-selector .region-picker-selector-title > a:focus,
.region-picker .region-picker-selector .region-picker-selector-content > a:focus {
  color: #0366F1;
}
.region-picker .region-picker-selector .region-picker-selector-title {
  width: 7.5%;
}
.region-picker .region-picker-selector .region-picker-selector-title > a {
  padding-left: 0;
  padding-right: 0;
  font-weight: bold;
  color: #333;
}
.region-picker .region-picker-selector .region-picker-selector-content {
  width: 92.5%;
}
div.dataTables_wrapper div.dataTables_footer {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
div.dataTables_wrapper div.dataTables_paginate,
div.dataTables_wrapper div.dataTables_info {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0;
}
div.dataTables_wrapper div.dataTables_info > span {
  padding-left: 5px;
  padding-right: 5px;
}
div.dataTables_wrapper div.dataTables_info > .form-control {
  border-color: #D7DBE0;
}
div.dataTables_wrapper div.dataTables_info > .btn-default {
  background-color: #F6F9FB;
  border-color: #D7DBE0;
  width: 60px;
}
div.dataTables_wrapper div.dataTables_paginate {
  margin-right: 5px;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  display: block;
  margin: 0;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination > li > a {
  border-radius: 0 !important;
  margin: 0 3px;
  background-color: #fff;
  border-color: #D7DBE0;
  color: #333;
  padding: 0;
  height: 34px;
  width: 34px;
  line-height: 32px;
  text-align: center;
  outline: 0 !important;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination > li > a:hover {
  background-color: #fff;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination > li.active > a {
  background-color: #0366F1;
  border-color: #0366F1;
  color: #fff;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination > li.first > a,
div.dataTables_wrapper div.dataTables_paginate ul.pagination > li.previous > a,
div.dataTables_wrapper div.dataTables_paginate ul.pagination > li.next > a,
div.dataTables_wrapper div.dataTables_paginate ul.pagination > li.last > a {
  text-indent: -99999em;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination > li.first > a {
  background: #fff url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAANCAYAAAB/9ZQ7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFBJREFUeNqM0YsJACAIBNB0JfefrRISxF8nBB28g0gSkdXMvod8ZhRqZhTqhVEY8Qg9/kLDEDRMD9jEnJ4BFXgAqRC/bixUS2kL3brLwhFgAPIOGrIm00iCAAAAAElFTkSuQmCC") center center no-repeat;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination > li.previous > a {
  background: #fff url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAANCAYAAABlyXS1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAEhJREFUeNp00EsKACAIRVF1S+5/bZWR4e8FQnDuoGRVJXCWIDjDgsAugqBigogNHEdw5BeMSCiID2pB/UoKpiX8AK3vBluAAQBm9g2yfgTCuwAAAABJRU5ErkJggg==") center center no-repeat;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination > li.next > a {
  background: #fff url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAANCAYAAABlyXS1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAEhJREFUeNp0kFEKACAIQ+eu5P3PVhQhVtu+hPdQXGTmABAQ4QHDQTiBbf4EPvIlUJwqQcESHNzv0QG19iqEDnQoK6QDK1OAAQCATw2z4IIrZwAAAABJRU5ErkJggg==") center center no-repeat;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination > li.last > a {
  background: #fff url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAANCAYAAAB/9ZQ7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFJJREFUeNqMkdsJADAIA9Os5P6ztRRKH1Yl+VPvQLSZWQfQcOLrHa5Bv3q+fmCoAgvgE+jkUmCwWipEcCpkcHhOqmC0RvkgquANSy+nCs4MAQYAJDYas27+FCsAAAAASUVORK5CYII=") center center no-repeat;
}
div.dataTables_wrapper table.dataTable {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
div.dataTables_wrapper table.dataTable th,
div.dataTables_wrapper table.dataTable td {
  box-sizing: inherit;
}
.bootstrap-datetimepicker-widget table td,
.bootstrap-datetimepicker-widget table th {
  border-radius: 0;
}
.bootstrap-datetimepicker-widget table td span {
  border-radius: 0;
  margin: 0;
}
.bootstrap-datetimepicker-widget table {
  width: 100%;
  max-width: 100%;
  margin: 0;
}
.bootstrap-datetimepicker-widget.dropdown-menu {
  border-color: #e6e6e6;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.025);
}
.bootstrap-datetimepicker-widget table th {
  border-bottom: 1px solid #e6e6e6;
  font-weight: normal;
}
.bootstrap-datetimepicker-widget .picker-switch.accordion-toggle {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
  background-color: #0366F1;
  color: #ffffff;
}
.bootstrap-datetimepicker-widget table td span.active {
  background-color: #0366F1;
}
.bootstrap-datetimepicker-widget .picker-switch td span {
  height: auto;
  line-height: inherit;
}
.bootstrap-datetimepicker-widget .picker-switch td a {
  display: block;
  padding: 6px 0;
}
.bootstrap-datetimepicker-widget .picker-switch td a:hover {
  background-color: #eee;
}
.ztree {
  padding: 0;
}
.ztree * {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}
.ztree li {
  line-height: 26px;
}
.ztree li ul {
  padding: 0 0 0 26px;
}
.ztree li span {
  height: 26px;
  line-height: 26px;
  margin-right: 5px;
}
.ztree li span.button {
  width: 26px;
  height: 26px;
  background: none;
  vertical-align: top;
  position: relative;
  margin: 0 !important;
}
.ztree li span.button.switch {
  width: 26px;
  height: 26px;
}
.ztree li a {
  height: 26px;
  padding: 0;
}
.ztree li a:hover {
  background-color: #f5f5f5;
  text-decoration: none;
}
.ztree li a.curSelectedNode {
  height: 26px;
  border: 0;
  background-color: rgba(0, 115, 200, 0.15);
}
.ztree li span.button.roots_docu,
.ztree li span.button.center_docu,
.ztree li span.button.bottom_docu {
  background: none;
}
.ztree li span.button.roots_docu:before {
  content: "";
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 50%;
  border-left: 1px dotted #ccc;
  margin-left: -1px;
}
.ztree li span.button.roots_docu:after {
  content: "";
  position: absolute;
  left: 50%;
  right: 0;
  top: 50%;
  border-top: 1px dotted #ccc;
  margin-top: -1px;
}
.ztree li span.button.center_docu:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 1px dotted #ccc;
  margin-left: -1px;
}
.ztree li span.button.center_docu:after {
  content: "";
  position: absolute;
  left: 50%;
  right: 0;
  top: 50%;
  border-top: 1px dotted #ccc;
  margin-top: -1px;
}
.ztree li span.button.bottom_docu:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 50%;
  left: 50%;
  border-left: 1px dotted #ccc;
  margin-left: -1px;
}
.ztree li span.button.bottom_docu:after {
  content: "";
  position: absolute;
  left: 50%;
  right: 0;
  top: 50%;
  border-top: 1px dotted #ccc;
  margin-top: -1px;
}
.ztree li ul {
  position: relative;
  background: none;
}
.ztree li ul:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 13px;
  /*            border-left: 1px dotted #ccc;*/
  margin-left: -1px;
}
.ztree li:last-child ul:before {
  border-left-color: transparent;
}
.ztree li ul.line {
  position: relative;
  background: none;
}
.ztree li ul.line:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 13px;
  border-left: 1px dotted #ccc;
  margin-left: -1px;
}
.ztree li span.button.noline_open,
.ztree li span.button.root_open,
.ztree li span.button.roots_open,
.ztree li span.button.center_open,
.ztree li span.button.bottom_open {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%20width%3D%2216%22%20height%3D%2216%22%3E%3Crect%20fill%3D%22%23cccccc%22%20x%3D%224%22%20y%3D%227%22%20width%3D%228%22%20height%3D%222%22%3E%3C%2Frect%3E%3Cpath%20fill%3D%22%23cccccc%22%20d%3D%22M15%2C0H1C0.4%2C0%2C0%2C0.4%2C0%2C1v14c0%2C0.6%2C0.4%2C1%2C1%2C1h14c0.6%2C0%2C1-0.4%2C1-1V1C16%2C0.4%2C15.6%2C0%2C15%2C0z%20M14%2C14H2V2h12V14z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E") center center no-repeat;
}
.ztree li span.button.noline_close,
.ztree li span.button.root_close,
.ztree li span.button.roots_close,
.ztree li span.button.center_close,
.ztree li span.button.bottom_close {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%20width%3D%2216%22%20height%3D%2216%22%3E%3Cpolygon%20fill%3D%22%23cccccc%22%20points%3D%227%2C12%209%2C12%209%2C9%2012%2C9%2012%2C7%209%2C7%209%2C4%207%2C4%207%2C7%204%2C7%204%2C9%207%2C9%20%22%3E%3C%2Fpolygon%3E%3Cpath%20fill%3D%22%23cccccc%22%20d%3D%22M15%2C0H1C0.4%2C0%2C0%2C0.4%2C0%2C1v14c0%2C0.6%2C0.4%2C1%2C1%2C1h14c0.6%2C0%2C1-0.4%2C1-1V1C16%2C0.4%2C15.6%2C0%2C15%2C0z%20M14%2C14H2V2h12V14z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E") center center no-repeat;
}
.ztree li span.button.ico_docu {
  margin-right: 0;
  vertical-align: top;
  background-color: orange;
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%20width%3D%2216%22%20height%3D%2216%22%3E%3Cpath%20fill%3D%22%23cccccc%22%20d%3D%22M4%2C0v9H0v4c0%2C1.7%2C1.3%2C3%2C3%2C3h10c1.7%2C0%2C3-1.3%2C3-3V0H4z%20M14%2C13c0%2C0.6-0.4%2C1-1%2C1H6V2h8V13z%22%3E%3C%2Fpath%3E%3Crect%20fill%3D%22%23cccccc%22%20x%3D%228%22%20y%3D%225%22%20width%3D%224%22%20height%3D%222%22%3E%3C%2Frect%3E%3Crect%20fill%3D%22%23cccccc%22%20x%3D%228%22%20y%3D%229%22%20width%3D%224%22%20height%3D%222%22%3E%3C%2Frect%3E%3C%2Fsvg%3E") center center no-repeat;
}
.ztree li span.button.ico_close,
.ztree li span.button.ico_open {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%20width%3D%2216%22%20height%3D%2216%22%3E%3Cpath%20fill%3D%22%23ffdc7d%22%20d%3D%22M16%2C6V4c0-0.6-0.4-1-1-1H7V1c0-0.6-0.4-1-1-1H1C0.4%2C0%2C0%2C0.4%2C0%2C1v5H16z%22%3E%3C%2Fpath%3E%3Cpath%20fill%3D%22%23ffdc7d%22%20d%3D%22M0%2C8v7c0%2C0.6%2C0.4%2C1%2C1%2C1h14c0.6%2C0%2C1-0.4%2C1-1V8H0z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E") center center no-repeat;
}
.ztree li span.button.chk {
  width: 26px;
  height: 26px;
  margin: 0;
  /*            background: lightblue;*/
}
.ztree li span.button.chk.checkbox_false_full,
.ztree li span.button.chk.checkbox_false_full_focus,
.ztree li span.button.chk.checkbox_false_part,
.ztree li span.button.chk.checkbox_false_part_focus {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%20width%3D%2216%22%20height%3D%2216%22%3E%3Cpath%20fill%3D%22%23dddddd%22%20d%3D%22M14%2C0H1C0.4%2C0%2C0%2C0.4%2C0%2C1v14c0%2C0.6%2C0.4%2C1%2C1%2C1h14c0.6%2C0%2C1-0.4%2C1-1V1C16%2C0.4%2C15.6%2C0%2C15%2C0z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E") center center no-repeat;
}
.ztree li span.button.chk.checkbox_true_full,
.ztree li span.button.chk.checkbox_true_full_focus,
.ztree li span.button.chk.checkbox_true_part,
.ztree li span.button.chk.checkbox_true_part_focus {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%20width%3D%2216%22%20height%3D%2216%22%3E%3Cpath%20fill%3D%22%230173c7%22%20d%3D%22M14%2C0H1C0.4%2C0%2C0%2C0.4%2C0%2C1v14c0%2C0.6%2C0.4%2C1%2C1%2C1h14c0.6%2C0%2C1-0.4%2C1-1V1C16%2C0.4%2C15.6%2C0%2C15%2C0z%20M7%2C11.4L3.6%2C8L5%2C6.6%20l2%2C2l4-4L12.4%2C6L7%2C11.4z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E") center center no-repeat;
}
.ztree li span.button.chk.radio_false_full,
.ztree li span.button.chk.radio_false_full_focus,
.ztree li span.button.chk.radio_false_part,
.ztree li span.button.chk.radio_false_part_focus {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%20width%3D%2216%22%20height%3D%2216%22%3E%3Cpath%20fill%3D%22%23dddddd%22%20d%3D%22M8%2C0C3.6%2C0%2C0%2C3.6%2C0%2C8s3.6%2C8%2C8%2C8s8-3.6%2C8-8S12.4%2C0%2C8%2C0z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E") center center no-repeat;
}
.ztree li span.button.chk.radio_true_full,
.ztree li span.button.chk.radio_true_full_focus,
.ztree li span.button.chk.radio_true_part,
.ztree li span.button.chk.radio_true_part_focus {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%20width%3D%2216%22%20height%3D%2216%22%3E%3Cpath%20fill%3D%22%230173c7%22%20d%3D%22M8%2C0C3.6%2C0%2C0%2C3.6%2C0%2C8s3.6%2C8%2C8%2C8s8-3.6%2C8-8S12.4%2C0%2C8%2C0z%20M8%2C11c-1.7%2C0-3-1.3-3-3s1.3-3%2C3-3s3%2C1.3%2C3%2C3%20S9.7%2C11%2C8%2C11z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E") center center no-repeat;
}
.ztree li span.button.add {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%20width%3D%2216%22%20height%3D%2216%22%3E%3Cpath%20fill%3D%22%2328a745%22%20d%3D%22M8%2C0C3.6%2C0%2C0%2C3.6%2C0%2C8s3.6%2C8%2C8%2C8s8-3.6%2C8-8S12.4%2C0%2C8%2C0z%20M12%2C9H9v3H7V9H4V7h3V4h2v3h3V9z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E") center center no-repeat;
}
.ztree li span.button.remove {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%20width%3D%2216%22%20height%3D%2216%22%3E%3Cpath%20fill%3D%22%23dc3545%22%20d%3D%22M8%2C0C3.6%2C0%2C0%2C3.6%2C0%2C8s3.6%2C8%2C8%2C8s8-3.6%2C8-8S12.4%2C0%2C8%2C0z%20M11.5%2C10.1l-1.4%2C1.4L8%2C9.4l-2.1%2C2.1l-1.4-1.4L6.6%2C8%20L4.5%2C5.9l1.4-1.4L8%2C6.6l2.1-2.1l1.4%2C1.4L9.4%2C8L11.5%2C10.1z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E") center center no-repeat;
}
.ztree li span.button.edit {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%20width%3D%2216%22%20height%3D%2216%22%3E%3Crect%20fill%3D%22%23999999%22%20y%3D%2214%22%20width%3D%2216%22%20height%3D%222%22%3E%3C%2Frect%3E%3Cpath%20fill%3D%22%23999999%22%20d%3D%22M11.7%2C3.3c0.4-0.4%2C0.4-1%2C0-1.4l-1.6-1.6c-0.4-0.4-1-0.4-1.4%2C0L0%2C9v3h3L11.7%2C3.3z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E") center center no-repeat;
}
.ztree li span.button.pIcon01_ico_open,
.ztree li span.button.pIcon01_ico_close {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%20width%3D%2216%22%20height%3D%2216%22%3E%3Cpath%20fill%3D%22%230173c7%22%20d%3D%22M14%2C2h-1V0h-2v2H5V0H3v2H2C1.4%2C2%2C1%2C2.4%2C1%2C3v12c0%2C0.6%2C0.4%2C1%2C1%2C1h12c0.6%2C0%2C1-0.4%2C1-1V3C15%2C2.4%2C14.6%2C2%2C14%2C2z%20M7.7%2C12.7C7.5%2C12.9%2C7.3%2C13%2C7%2C13s-0.5-0.1-0.7-0.3c-0.4-0.4-0.4-1%2C0-1.4L7.6%2C10h-4l4.7-4.7c0.4-0.4%2C1-0.4%2C1.4%2C0s0.4%2C1%2C0%2C1.4L8.4%2C8h4%20L7.7%2C12.7z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E") center center no-repeat;
}
.ztree li span.button.pIcon02_ico_open,
.ztree li span.button.pIcon02_ico_close {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%20width%3D%2216%22%20height%3D%2216%22%3E%3Crect%20fill%3D%22%23ff9800%22%20width%3D%224%22%20height%3D%224%22%3E%3C%2Frect%3E%3Crect%20x%3D%226%22%20fill%3D%22%23ff9800%22%20width%3D%224%22%20height%3D%224%22%3E%3C%2Frect%3E%3Crect%20x%3D%2212%22%20fill%3D%22%23ff9800%22%20width%3D%224%22%20height%3D%224%22%3E%3C%2Frect%3E%3Crect%20y%3D%226%22%20fill%3D%22%23ff9800%22%20width%3D%224%22%20height%3D%224%22%3E%3C%2Frect%3E%3Crect%20x%3D%226%22%20y%3D%226%22%20fill%3D%22%23ff9800%22%20width%3D%224%22%20height%3D%224%22%3E%3C%2Frect%3E%3Crect%20x%3D%2212%22%20y%3D%226%22%20fill%3D%22%23ff9800%22%20width%3D%224%22%20height%3D%224%22%3E%3C%2Frect%3E%3Crect%20y%3D%2212%22%20fill%3D%22%23ff9800%22%20width%3D%224%22%20height%3D%224%22%3E%3C%2Frect%3E%3Crect%20x%3D%226%22%20y%3D%2212%22%20fill%3D%22%23ff9800%22%20width%3D%224%22%20height%3D%224%22%3E%3C%2Frect%3E%3Crect%20x%3D%2212%22%20y%3D%2212%22%20fill%3D%22%23ff9800%22%20width%3D%224%22%20height%3D%224%22%3E%3C%2Frect%3E%3C%2Fsvg%3E") center center no-repeat;
}
.ztree li span.button.icon01_ico_open,
.ztree li span.button.icon01_ico_close,
.ztree li span.button.icon01_ico_docu {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%20width%3D%2216%22%20height%3D%2216%22%3E%3Cpath%20fill%3D%22%23cccccc%22%20d%3D%22M8%2C0C3.6%2C0%2C0%2C3.6%2C0%2C8s3.6%2C8%2C8%2C8s8-3.6%2C8-8S12.4%2C0%2C8%2C0z%20M12%2C9H7V4h2v3h3V9z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E") center center no-repeat;
}
.ztree li span.button.pIcon01_ico_docu,
.ztree li span.button.icon02_ico_open,
.ztree li span.button.icon02_ico_close,
.ztree li span.button.icon02_ico_docu {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%20width%3D%2216%22%20height%3D%2216%22%3E%3Cpath%20fill%3D%22%23dddddd%22%20d%3D%22M15.275%2C10.293l-2.188-.625a1%2C1%2C0%2C0%2C1-.706-.767l-.134-.675A3%2C3%2C0%2C0%2C0%2C14%2C5.5V4.126A3.084%2C3.084%2C0%2C0%2C0%2C11.092%2C1%2C3%2C3%2C0%2C0%2C0%2C8.266%2C2.767%2C4.175%2C4.175%2C0%2C0%2C1%2C9%2C5.126V6.5a3.94%2C3.94%2C0%2C0%2C1-.155%2C1.075%2C3%2C3%2C0%2C0%2C0%2C.908.651L9.619%2C8.9a1%2C1%2C0%2C0%2C1-.706.767l-.843.241%2C1.48.423A2.007%2C2.007%2C0%2C0%2C1%2C11%2C12.254V14.5a1.483%2C1.483%2C0%2C0%2C1-.092.5H15.5a.5.5%2C0%2C0%2C0%2C.5-.5V11.254A1%2C1%2C0%2C0%2C0%2C15.275%2C10.293Z%22%3E%3C%2Fpath%3E%3Cpath%20fill%3D%22%230173c7%22%20d%3D%22M9.275%2C11.293l-2.188-.625A1%2C1%2C0%2C0%2C1%2C6.381%2C9.9l-.134-.675A3%2C3%2C0%2C0%2C0%2C8%2C6.5V5.126A3.084%2C3.084%2C0%2C0%2C0%2C5.092%2C2%2C3%2C3%2C0%2C0%2C0%2C2%2C5V6.5A3%2C3%2C0%2C0%2C0%2C3.753%2C9.226L3.619%2C9.9a1%2C1%2C0%2C0%2C1-.706.767l-2.188.625A1%2C1%2C0%2C0%2C0%2C0%2C12.254V14.5a.5.5%2C0%2C0%2C0%2C.5.5h9a.5.5%2C0%2C0%2C0%2C.5-.5V12.254A1%2C1%2C0%2C0%2C0%2C9.275%2C11.293Z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E") center center no-repeat;
}
.ztree li span.button.icon03_ico_open,
.ztree li span.button.icon03_ico_close,
.ztree li span.button.icon03_ico_docu {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%20width%3D%2216%22%20height%3D%2216%22%3E%3Cpath%20fill%3D%22%23dc3545%22%20d%3D%22M11.6%2C0C10.1%2C0%2C8.8%2C0.8%2C8%2C2C7.2%2C0.8%2C5.9%2C0%2C4.4%2C0C2%2C0%2C0%2C2%2C0%2C4.4c0%2C4.4%2C8%2C10.9%2C8%2C10.9s8-6.5%2C8-10.9%20C16%2C2%2C14%2C0%2C11.6%2C0z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E") center center no-repeat;
}
.ztree li span.button.pIcon02_ico_docu,
.ztree li span.button.icon04_ico_open,
.ztree li span.button.icon04_ico_close,
.ztree li span.button.icon04_ico_docu {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%20width%3D%2216%22%20height%3D%2216%22%3E%3Cpath%20fill%3D%22%23ffc107%22%20d%3D%22M15.144%2C5.438l-4.316-0.627L8.897%2C0.9c-0.338-0.683-1.456-0.683-1.794%2C0l-1.93%2C3.911L0.856%2C5.438%20C0.039%2C5.557-0.292%2C6.565%2C0.302%2C7.145l3.124%2C3.044l-0.737%2C4.299c-0.139%2C0.814%2C0.717%2C1.439%2C1.451%2C1.054L8%2C13.513l3.861%2C2.03%20c0.728%2C0.381%2C1.591-0.234%2C1.451-1.054l-0.737-4.299l3.124-3.044C16.292%2C6.565%2C15.961%2C5.557%2C15.144%2C5.438z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E") center center no-repeat;
}
.ztree li span.button.icon05_ico_open,
.ztree li span.button.icon05_ico_close,
.ztree li span.button.icon05_ico_docu {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%20width%3D%2216%22%20height%3D%2216%22%3E%3Cpath%20fill%3D%22%2303a9f4%22%20d%3D%22M15%2C1H3c0-0.6-0.4-1-1-1S1%2C0.4%2C1%2C1v14c0%2C0.6%2C0.4%2C1%2C1%2C1s1-0.4%2C1-1v-5h12V1z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E") center center no-repeat;
}
.ztree li span.button.icon06_ico_open,
.ztree li span.button.icon06_ico_close,
.ztree li span.button.icon06_ico_docu {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%20width%3D%2216%22%20height%3D%2216%22%3E%3Cpath%20d%3D%22M5.249%2C7.438l.562.45L6.4%2C6.553%2C9.4%2C8.8a1%2C1%2C0%2C0%2C0%2C1.432-.245l4.555-6.832L13.723.613%2C9.754%2C6.565%2C6.6%2C4.2a1%2C1%2C0%2C0%2C0-1.514.394L4.016%2C7A2.009%2C2.009%2C0%2C0%2C1%2C5.249%2C7.438Z%22%20fill%3D%22%232196f3%22%3E%3C%2Fpath%3E%3Cpolygon%20points%3D%223.299%2011%202.239%2011%200.68%2014.508%202.508%2015.32%204.132%2011.666%203.299%2011%22%20fill%3D%22%232196f3%22%3E%3C%2Fpolygon%3E%3Cpath%20fill%3D%22%23cccccc%22%20d%3D%22M9%2C14a1%2C1%2C0%2C0%2C1-.625-.219L3.649%2C10H0V8H4a1%2C1%2C0%2C0%2C1%2C.625.219l4.457%2C3.566%2C5.261-3.157%2C1.029%2C1.715L9.515%2C13.857A1%2C1%2C0%2C0%2C1%2C9%2C14Z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E") center center no-repeat;
}
