body {
    font: 12px/1.5 "Microsoft YaHei",tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
    overflow:hidden;
}
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body, div, td, p, span, h1, h2, table {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

input:focus{
    border-bottom-color:#31A4FF !important;
}

input{
    transition:.2s;
}


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px white inset;
    -webkit-text-fill-color: #666;
    margin: 0;
    padding: 0;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 100px white inset;
    -webkit-text-fill-color: #666;
}

input::-webkit-input-placeholder{
    color:#999 !important;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#999 !important;
}　　
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#999 !important;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:#999 !important;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
    height: 0px;
    visibility: hidden;
}



.centerarea .notice .icon,
.centerarea .username .icon,
.centerarea .pwd .icon,
.footer .intro01,
.footer .intro02,
.footer .intro03,
.qrcodebox .icon-ph {
    background: url(../../../images/v2/login/icons-login.png) no-repeat;
}
.loginmessage .erroricon {
    background: url(../../../images/v2/login/icons-login.png) no-repeat;
}
.toparea {
    width: 1080px;
    height: 90px;
    margin: 0px auto;
}

.toparea .logo {
    width: 280px;
    height: 42px;
    float: left;
    margin-left: 15px;
    margin-top: 19px;
}

.toparea .slogan {
    width: 222px;
    height: 44px;
    float: right;
    margin-right: 80px;
    margin-top: 23px;
}

.errorbg {
    width: 100%;
    height: 583px;
    background: #9dd4f8;
    margin: 0px auto;
    overflow: hidden;
}

.errorimg {
    text-align: center;
    /*margin-top: 85px;*/
}

.errorbox {
    width: 633px;
    margin: 0px auto 50px;
    font-size: 14px;
    text-align: left;
}

.errorbox .error-page {
    text-align: center;
    margin: 20px 0 50px 0;
}

.errorbox h2 {
    font-size: 18px;
    text-align: left;
    color: #151c21;
}
.centerarea {
    background-size:cover !important;
    width: 100%;
    height: 100%;
    position:relative;
    overflow-x:hidden;
    overflow-y:hidden;
}


.mainbox {
    width:1000px;
    height:100%;
    margin: 0 auto;
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    opacity:0;
}
.centerarea .notice {
    width: 1080px;
    height: 30px;
    margin: 17px auto;
}

.centerarea .notice .icon {
    width: 15px;
    height: 15px;
    background-position: left top;
    float: left;
    display: inline;
    margin-top: 1px;
    display: none;
}

.centerarea .notice .content {
    color: #fff;
    margin-left: 20px;
}

.centerarea .loginmessage {
    line-height: 25px;
    /*padding: 6px 10px;*/
    overflow: hidden;
    /*text-align: center;*/
    /*border-color: #ffb4a8;
    background-color: #fdf1de;*/
    color: red;
    display: none;
    position:absolute;
    left:0;
    bottom:0px;
    width:100%;
    z-index:1;
}
input::-webkit-input-placeholder{
    color:#dedede;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#dedede;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#dedede;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:#dedede;
}
.centerarea .login-box {
    /*padding: 59px 0px;*/
    /* padding: 59px 0px 4px; 20210108新增tips修改 */
    padding: 9px 0px 4px;
    background-color: #fff;
    width: 380px;
}
.login-tips{
    font-size: 24px;
    font-weight: bold;
    color: #333;
    height: 30px;
    line-height: 30px;
    margin-bottom: 17px;
}
/*登录按钮*/
.centerarea .login-box-wrap .login-box {
    background-color: rgba(255,255,255,.8);
}

.loginmessage .erroricon {
    background: none;
    text-align: center;

}
.loginmessage .erroricon img {
    vertical-align: middle;
    /*padding-right: 10px;*/
}
.loginmessage p {
    display: inline;
    font-size: 14px;
    color: red;
}

.centerarea .qrcode:hover {
    opacity: 1;
}

.centerarea .usernamelogin {
    position: inherit;
    background: none;
    width: 62px;
    height: 58px;
    cursor: pointer;
    opacity: 0.8;
}

.centerarea .usernamelogin:hover {
    opacity: 1;
}

.centerarea .followwx {
    text-decoration: underline;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    margin-top: 299px;
    display: none;
}

.centerarea .safetip {
    position: absolute;
    width: 130px;
    height: 24px;
    background-position: left -18px;
    right: 24px;
    top: -70px;
}

.centerarea .qrcodebox .safetip {
    top: -40px;
    display: inline-block;
    z-index: 100;
    right: 38px;
    background-position: left -710px;
}

.centerarea .typename {
    font-size: 18px;
    color: #5c5c5c;
}

.centerarea .field .icon {
    width: 21px;
    height: 21px;
    position: absolute;
    left: 10px;
    top: 11px;
}

.centerarea .username .icon {
    background-position: left -110px;
}

.centerarea .field .username-label, .centerarea .field .pwd-label,.centerarea .field .mobile-label,
.username-label-phone,.pwd-label-phone
{
    position: absolute;
    font-size: 14px;
    top: 0px;
    left: 0px;
    color: #999;
    display: none;
    line-height:42px;
    height:42px;
}
.username-label-phone,.pwd-label-phone{
    display:block;
}

.centerarea .pwd .icon {
    background-position: -24px -110px;
}

.centerarea .codewrap {
    border: 1px solid #d2d2d2;
    background-color: #fff;
    position: relative;
    width: 180px;
    float: left;
}

.centerarea .codevalue {
    width: 140px;
    height: 45px;
    float: right;
    line-height: 45px;
    color: #fff;
    text-align: center;
    font-size: 16px;
}

.centerarea .codevalue img {
    cursor: pointer;
    vertical-align: bottom;
    float: left;
}
.qrcodeimg {
    background: none;
    left: 105px;
}
.impowerBox .qrcode {
    width: 158px;
    height: 158px;
    margin-left: -141px;
    margin-top: -7px;
}
.centerarea .field {
    background-color: #fff;
    margin-top: 32px;
    position: relative;
}
.passWords_mi {
    position: absolute;
    left: -1px;
    color: #999999;
    font-size: 14px;
    top: 7px;
}
.userNumber {
    position: absolute;
    left: -1px;
    color: #999999;
    font-size: 14px;
    top: 7px;
}

.txtbox {
    border: 0px;
    padding: 13px 10px 13px 41px;
    padding-left: 41px;
    width: 279px;
    height: 18px;
    line-height: 18px;
    font-size: 14px;
    color:#1A1A1A;
}

.txtbox02 {
    border: 0px;
    padding: 12px 10px 12px 5px;
    width: 165px;
    height: 18px;
    line-height: 18px;
    font-size: 14px;
}

.login-btn {
    width: 100%;
    height: 56px;
    border: 0px;
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 25px auto;
    margin-bottom:20px;
}

.login-btn.disabled {
    /*background: #e4e4e4;*/
    cursor: not-allowed;
    opacity:0.2;
}

.login-links {
    text-align: right;
}

.login-links a {
    padding-left: 20px;
    font-size: 14px;
    font-weight: bold;
}

.tips {
    width: 386px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    color: white;
    clear: both;
    float: right;
    font-size: 15px;
    letter-spacing: 1px;
}
.login-box-wrap clearfix ul {
    height: 52px;
    border-radius: 5px 5px 0 0;
    background: #89c4ff;
}
.tab-color {
    height: 45px;
    border-radius: 3px;
}
.centerarea .userloginbox {
    position: relative;
}

.userloginbox .item-warning {
    border: 1px solid #5fb2f6;
}

.centerarea .username.item-warning .icon {
    background-position: -97px -111px;
}

.centerarea .pwd.item-warning .icon {
    background-position: -120px -110px;
}
.tab-content .table-content {
    display: none;

}
.select {
    color: #1A1A1A !important;
    font-weight: bold;
    font-size: 24px;
}
.centerarea .qrcodebox {
    padding: 0px;
    height: 309px;
    position: relative;
}

.centerarea .qrcodebox .login-links {
    top: 262px;
    position: absolute;
    right: 0px;
}

    /*二维码高度*/
.qrcodebox .qrcodeimg {
    width: 220px;
    height: 220px;
    position: absolute;
    left: 92px;
    top: 45px;
    overflow: hidden;
}
.qrcodebox .qrcodeimg img {
     width: 100% !important;
    height: 100% !important;
}
/*改变二维码右边手机高度*/
.qrcodebox .icon-ph {
    width: 170px;
    height: 188px;
    float: right;
    background-position: left -375px;
    margin-top: 28px;
    display: none;
}

.footer {
    margin: 50px auto;
    width: 1080px;
}

.footer .intro01, .footer .intro02, .footer .intro03 {
    font-size: 16px;
    color: #666;
    padding-left: 56px;
    padding-top: 36px;
    width: 162px;
    height: 32px;
    float: left;
    margin-left: 117px;
}
 
.bott-center {
    width: 100%;
    height: 20px;
    background: red;
}
.copyright {
    width: 100%;
    height: 19px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    clear: both;
    position: absolute;
    bottom: 35px;
    opacity:0.5;
}

.hidden {
    display: none;
}


/*新代码*/
.clearfix:after{
    content:'';
    display:block;
    clear:both;
}

.login_content{
    position: absolute;
    right:0;
    top:50%;
    margin-top:-260px;
    width:100%;
    height:auto;
}

.login_xuexi_img {
    margin-top:20px;
}
.login_xuexi_img img{
    width:100%;
}
.centerarea .login-box-wrap {
    width: 460px;
    height: auto;
    z-index:1;
    border-radius: 8px;
    padding:53px 60px;
    box-sizing:border-box;
    background:#fff;
    overflow:hidden;
    position:relative;
}
.centerarea .top-logo{
    position:absolute;
    left: 0;
    top: -25%;
    z-index:1;
    width:216px;
}
.login-box-wrap ul li{
    list-style: none;
}
.login-box-wrap ul {
    margin: 0;
    padding: 0;
    background: white;
}
.tab-list li {
    float: left;
    margin-right:40px; 
    height:50px;
    color:#909099;
    font-size:24px;
    line-height:45px;
    text-align:center;
    cursor: pointer;
}
.tab_box{
    position:relative;
}
.tab_list_line{
    position:absolute;
    left:0;
    bottom:0;
    height:4px;
    border-radius:16px;
    background: #31A4FF;
    z-index:1;
    width:96px;
    margin:0;
    transition:.2s;
    transform:translateZ(0.01px);
}
.tab-content li {
    clear: both;
}

.center-box {
    width: 50%;
    height: 70%;
    background: orange;
}
.userloginbox {
    padding: 15px 30px;
}


.tab-content {
    margin: 0 ;
    padding: 0;
}
.tab-content li {
    list-style: none;
}
.first-box,.mobile-box{
    padding-top: 14px;
    margin: 0 auto;
    position:relative;
}

.first-box-users {
    font-size: 15px;
}

.username-label,.mobile-label {
    /*bottom: 12px;*/
    z-index: 100;
    position: absolute;
    font-size: 14px;
    /*top: 31px;
    left: 5px;*/
    color: #999;
}
.txtbox {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid #dcdcdc;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
input {
    outline: none;
}
#pass {
    margin-top: 41px;
    font-size: 17px;
}
.pwd-label {
    display: block;
    margin-top: 0px;
}
.loginmessage span {
    display: inline-block;
    vertical-align: top;
}

.mainbox-center {
    width: 70%;
    height: 100%;
    margin-left: 15%;
}
.first-box-top,.mobile-box-top{
    overflow:hidden;
    margin-top:20px;
    padding-bottom:30px;
}
.tips-bottom-box {
    display: table; 
}
.tips-bottom {
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: red;
    clear: both;
    position: absolute;
    /*bottom: 66px;*/
}
.tips-bottom-wrap{
    max-width:1200px;
    margin:0 auto;
    background-color: rgba(0,0,0,0.2);
    padding:10px 20px;
    line-height:20px;
}
.tips-bottom span {
    padding-left: 19px;
    font-weight: bold;
    padding-right: 0px;
    font-size: 16px;
    padding-right: 19px;
}


/*二维码下面的文字*/
.impowerBox .info {
    margin-left: -52px;
}


/** 错误页开始 **/
.errorbox .errormsg {
    text-align: center;
    font-size: 18px;
    min-height: 180px;
}

.errorbox .linkbox {
    margin: 0px auto;
    width: 142px;
}

.errorbox .toindex {
    width: 142px;
    height: 48px;
    text-align: center;
    bottom: 120px;
    line-height: 48px;
    font-size: 16px;
    text-decoration: none;
    display: block;
    color: #000;
}
/** 错误页结束 **/
/*新版错误页开始*/
.error_box {
    width: 100%;
    height: 100%;
    position: relative;
    background: #fff;
}
.error_box_top {
    width: 100%;
    height: 50px;
    background: #313131;
}
.error_box_top img{
    display: inline-block;
    height: 30px;
    margin-left: 193px;
    margin-top: 10px;
}
.error_box_bottom {
    width: 633px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -316.5px;
    margin-top: -250px;
    text-align: center;
}
.span_error_one img {
    width: 523px;
    height: 300px;
}
.error_box_bottom span{
    display: block;
}
.span_error_two {
    color: #666666;
    font-size: 20px;
    font-weight:600;
    margin-top: 40px;
}
.span_error_three .toindex {
   line-height: 36px;
    text-align: center;
    border: 0px;
    background: #4fa9de;
    color: #fff;
    cursor: pointer;
    vertical-align: middle;
    border-radius: 22px;
    display: inline-block;
    padding: 1px 10px;
    font-size: 14px;
    width: 120px;
    margin-top: 94px;
}
.span_error_three_ .toindex {
       line-height: 36px;
    text-align: center;
    border: 0px;
    background: #4fa9de;
    color: #fff;
    cursor: pointer;
    vertical-align: middle;
    border-radius: 22px;
    display: inline-block;
    padding: 1px 10px;
    font-size: 14px;
    margin-top: -37px;
    width: 120px;
}
/*新版错误页结束*/


.fr{
    float:right;
}
.fl{
    float:left;
}
/* 教师登录入口 开始 */
.login_type{
    padding:14px 0 6px 0;
    line-height:18px;
}
.login_type a{ 
    color: #909099 ;
    font-size: 14px;
}
.login_type a:active{
    color: #32A4FF ;
}
.teacher_enter{
    color:#31A4FF !important;
    width:100px;
    height:20px;
    overflow:hidden;
}
.login_enter_elem{
    width:16px;
    height:16px;
    display:inline-block;
    background:url('/Content/images/v2/login/login_enter.png') no-repeat center;
    vertical-align:middle;
}
/* 教师登录入口 结束 */

/* 20201120登录页修改 */
.getCode{
    position: absolute;
    top: 0;
    right: 0px;
    padding: 6px 12px;
    border-radius: 6px;
    color: #1A1A1A;
    font-size: 14px;
    cursor: pointer;
}
.qrCode{
    background: #31A4FF url(../../../images/v2/login/code_2.png) 70% 30% no-repeat;
    background-size: 60%;
    height: 64px;
    width: 64px;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
} 

.qrCode .triangle{
    width: 200%;
    height: 200%;
    transform: rotate(45deg);
    position: absolute;
    top:15px;
    left:-76px;
    z-index:1;
    background:#fff;
}


/* 新增 获取验证码 登录按钮的默认样式 */
.disable_btn{
    color:#808080;
}
/*20210106修改login框 切换时 input位置变动的问题*/
.tab-content .mobile-box-top input::placeholder{
    color:#999;
    font-size:14px;
}
.tab-list{
    height: 54px;
}
.computer-btn{
    background: #31A4FF url(../../../images/v2/login/computer_2.png) 70% 30% no-repeat;
    background-size: 60%;
    height: 64px;
    width: 64px;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    overflow: hidden;
}
.computer-btn .triangle{
    width: 200%;
    height: 200%;
    transform: rotate(45deg);
    position: absolute;
    top: 15px;
    left: -76px;
    z-index: 1;
    background:#fff;
}



.text_before:before{
    display:block;
    position:absolute;
    z-index:1;
    font-size:12px;
    color:#909099;
    opacity:0;
    transition:.2s;
    content:'';
    transform:translateY(20px);
}
.login_name_before:before{
    left:0;
    top:-11px;
    content:'登录账号';
    opacity:1;
    transform:translateY(0px);
}
.login_pwd_before:before{
    left:0; 
    top:-11px;
    content:'登录密码';
    opacity:1;
    transform:translateY(0px);
}

.login_phone_before:before{
    left:0; 
    top:-11px;
    content:'手机号码';
    opacity:1;
    transform:translateY(0px);
}
.login_code_before:before{
    left:0; 
    top:-11px;
    content:'短信验证码';
    opacity:1;
    transform:translateY(0px);
}


.show_pwd_icon{
    position:absolute;
    right:0;
    top:50%;
    width:20px;
    height:20px;
    z-index:1;
    margin-top:-10px;
    cursor:pointer;
}
.show_pwd_icon img{
    display:block;
    margin:4px auto;
}