.newnav20141104nr .s4a .listBox .tuic{height:26px;line-height:26px;text-align: center;border-top:1px solid #cccccc;font-size: 12px;}
/*20190124*/
.guidance{position:absolute;top:40px;left:10px;width:120px;height:29px;background:url(../images/guidance.png) no-repeat;border:1px solid #c00; z-index:9999}
/*åº•éƒ¨åé¦ˆäºŒç»´ç */
.footer-fk-link{position:relative;}
.footer-fk-ewmbox{display:none;position:absolute;bottom:20px;right:0;background:#fff;padding:0 0 10px;box-shadow: 1px 1px 10px rgba(0,0,0,.2);width:120px}
.footer-fk-ewmbox img{width:120px;height:120px;}
.footer-fk-ewmbox p{font-size:12px;font-weight:bold;color:#333;margin-top:-10px;}
.footer-fk-link:hover .footer-fk-ewmbox{display:block;}